.user-icon {
  font-size: 55px;
  /*box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);*/
  padding:5px;
}
.user-icon:hover {
  opacity: 0.7;
}
.menu-icon {
  font-size:25px;
}
.avatar {
  border-radius: 100px;
  height: 60px;
  cursor:pointer;
  width: 60px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
}
.avatar-sm {
  border-radius: 100px;
  height:29px;
  cursor:pointer;
  width: 29px;
}
.avatar-responsive {
  border-radius: 200px;
  cursor:pointer;
  width:100px;
}
.avatar-whatson {
  border-radius: 100px;
  height: 60px;
  cursor:pointer;
  width: 60px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
  margin-left: 15px;
}
.user-menu {
  font-size: 15px;
  margin-left: 5px;
  text-align: center;
}


.brand-title {
  display: none;
}
.navbar-brand {
    font-size: 24px;
}
@media screen and (min-width: 360px) {
  .brand-title {
    display: block;
  }
}
.social-login {
 width: 225px;
 margin-top:5px;
}
.scrolled {
  opacity: 0.8;
}
.search {
	width:100%;
	float:right;
	height:30px;
}
.home-login {
	padding-bottom: 20px;
	border: 0px #ddd solid;
	border-radius: 10px;
}
.gray {
  color: #eeeeee;
}
hr {
  margin-top: 15px;
  margin-bottom: 10px;
}
.float{
  position:fixed;
  width:50px;
  height:50px;
  bottom:40px;
  right:40px;
  text-align:center;
  box-shadow: 5px 5px 10px #999;
  z-index: 999;
}
.float2{
  position:fixed;
  width:50px;
  height:50px;
  bottom:100px;
  right:40px;
  text-align:center;
  box-shadow: 5px 5px 10px #999;
  z-index: 999;
}
.float3{
  position:fixed;
  width:50px;
  height:50px;
  bottom:160px;
  right:40px;
  text-align:center;
  box-shadow: 5px 5px 10px #999;
  z-index: 999;
}
.form-control, .select2-search input[type="text"] {
  font-size: 16px;
  line-height: 43px;
  height:43px;
}
.multiple-select-box {
  border: 2px solid #949a9b;
  padding: 5px;
  border-radius: 6px;
}
.select,.dropdown-toggle, .dropdown-menu, .select2-choice, .select2-result-label, .select2-result  {
  font-size: 16px;
  line-height: 25px;
}
.select.form-control {
  border: 2px #e89c43 solid;
  padding: 8px;
  line-height: 43px;
  height: 43px;
}
label {
  font-weight: 400;
  font-size: 16px;
}
textarea.form-control, textarea.select2-search {
  height: auto;
  line-height: 27px;
}
.pagination {
  white-space: inherit;
}
.blog-desc, .blog-desc p {
  line-height: 1.8;
}
.blog-desc img {
  max-width: 100%;
  height: auto;
  height: auto;
  border-radius: 12px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote:after {
  color: #ccc;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.blog-desc iframe,
.blog-desc object,
.blog-desc embed {
  border:0px;
}
@media screen and (max-width: 767px) { /*if screen width less than 767 (ipad) then do this*/
  .blog-desc iframe,
  .blog-desc object,
  .blog-desc embed {
    border:0px;
    width: 100%;
    height: 100%;
  }
  .button-margin-top {
    margin-top:10px;
  }
}
#map {
  width: 98%;
  height: 700px;
  border: 1px #ddd solid;
  padding: 10px;
}
@media all and (max-width: 820px) {
  .mce-window                         {width:auto !important; top:0px !important; left:0px !important; right:0px !important; bottom:0px !important; background:none !important;}
  .mce-window-head                    {background:#FFFFFF !important;}
  .mce-window-body                    {background:#FFFFFF !important;}
  .mce-foot > .mce-container-body     {padding:10px !important; width:80% !important;}
  .mce-panel                          {max-width:100% !important;}
  .mce-container                      {max-width:100% !important; height:auto !important; overflow:auto;}
  .mce-container-body                 {max-width:100% !important; width: auto !important; height:auto !important; overflow:auto;}
  .mce-form                           {padding:10px !important;}
  .mce-tabs                           {max-width:100% !important;}
  .mce-formitem                       {margin:10px 0 !important;}
  .mce-abs-layout-item                {position:relative !important; left: 0 !important; top: 0 !important; width:auto !important;}
  .mce-slider                         {margin-top: 20px !important; margin-bottom: 20px !important;}
  .mce-abs-layout-item.mce-label      {display:block !important;}
  .mce-abs-layout-item.mce-textbox    {-webkit-box-sizing:border-box !important; -moz-box-sizing:border-box !important; box-sizing:border-box !important; display:block !important; width:100% !important;}
  .mce-abs-layout-item.mce-combobox   {display:flex !important;}
  .mce-abs-layout-item.mce-combobox > .mce-textbox {-ms-flex:1 1 auto; -webkit-flex:1 1 auto; flex:1 1 auto; height:29px !important; width:80% !important;}
  .mce-container-body.mce-window-body.mce-abs-layout iframe {height:500px !important;} /*this only use with responsive file manager 9*/
  .mce-tinymce-inline                  {left: 0 !important; right: 0 !important; margin-left: auto !important; margin-right: auto !important;}
  .mce-tinymce-inline .mce-flow-layout {white-space: normal !important;}
  .mce-menu.mce-fixed                  {max-height: 90%; overflow: auto;}
  .mce-title                          {white-space:normal !important;}
  .mce-btn-group                      {overflow-y: hidden !important;}
}


.select2-search-choice {
  border-radius: 4px;
  color: #ffffff;
  font-size: 13px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  overflow: hidden;
  margin: 0 5px 4px 0;
  line-height: 15px;
  height: 27px;
  padding: 6px 21px;
  transition: .25s linear;
  background-color: #e89c43;
}
.select2-search-choice:hover {
  padding-right: 28px;
  padding-left: 14px;
  color: #ffffff;
  background-color: #e67e22;
}

.select2-search {
    display: inline-block;
    width: 100%;
    min-height: 26px;
    margin: 0;
    padding: 4px 4px 0 4px;

    position: relative;
    z-index: 10000;

    white-space: nowrap;
}

/*portfolio*/
.picture {
  margin-top: 20px;
}
.picture img{
  border-radius: 5px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
}
.picture .description{
  margin-top:5px;
}
.picture:hover {
  opacity: 0.7;
}
/* 5 columns, percentage width */

@media screen and (min-width: 768px) {
  .portfolio-item, .grid-sizer {
    width: 20%;
  }
}
.portfolio-item {
  float: left;
}
.oc-icon-upload {
  font-family: 'Flat-UI-Icons', 'Tahoma';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  width: 100%;
}
.oc-icon-upload:before {
  content: "\e62a";
}
.popover {
  background-color: #e89c43;
  color:#FFF;
}
.popover.top .arrow:after{
  border-top-color: #e89c43;
}
.headline {
  display: block;
  position: relative;
  margin-bottom: 5px;
}
.form-group {
  position: relative;
  margin-bottom: 10px;
}
.btn {
  font-size: 16px;
}
.caption {
  font-family: Kanit;
}