.user-icon {
  /*max-width: 50px;
  max-height: 50px;*/
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  transition: .5s ease;
  padding:5px;
}
.user-icon:hover {
  opacity: 0.7;
}
.avatar-responsive {
  border-radius: 100px;
  cursor:pointer;
}
.user-menu {
  font-size: 15px;
  margin-left: 5px;
  text-align: center;
}
.avatar {
  border-radius: 100px;
  height:75px;
  cursor:pointer;
  width: 75px;
}
.avatar-sm {
  border-radius: 100px;
  height:30px;
  cursor:pointer;
  width: 30px;
}

.brand-title {
  display: none;
}
@media screen and (min-width: 375px) {
  .brand-title {
    display: block;
  }
}
.social-login {
 width: 225px;
 margin-top:5px;
}
.scrolled {
  opacity: 0.7;
}
.search {
	width:100%;
	float:right;
	height:30px;
}
.home-login {
	padding-bottom: 20px;
	border: 0px #ddd solid;
	border-radius: 10px;
}

hr {
  margin-top: 15px;
  margin-bottom: 10px;
}
.float{
  position:fixed;
  width:50px;
  height:50px;
  bottom:40px;
  right:40px;
  text-align:center;
  box-shadow: 5px 5px 10px #999;
}
.float2{
  position:fixed;
  width:50px;
  height:50px;
  bottom:100px;
  right:40px;
  text-align:center;
  box-shadow: 5px 5px 10px #999;
}
.form-control, input[type="text"] {
  line-height: 2.8;
  font-size: 16px;
}
.select,.dropdown-toggle, .dropdown-menu, .select2-choice, .select2-result-label, .select2-result  {
  font-size: 16px;
  line-height: 25px;
}
label {
  font-weight: 400;
  font-size: 16px;
}
textarea.form-control, textarea.select2-search {
  height: auto;
  line-height: 25px;
}
.pagination {
  white-space: inherit;
}
.blog-desc, .blog-desc p {
  line-height: 2;
}
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote:after {
  color: #ccc;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.blog-desc iframe,
.blog-desc object,
.blog-desc embed {
  border:0px;
}
@media screen and (max-width: 767px) {
  .blog-desc iframe,
  .blog-desc object,
  .blog-desc embed {
    border:0px;
    width: 100%;
    height: 100%;
  }
}
