[viewBag]
==
<div class="container">
    <nav class="pull-left">
      <ul>
          <li class="active">
              <a href="/">Home</a>
          </li>
          <li>
              <a href="/blog/1">{{ 'About us'|_ }}</a>
          </li>
          <li>
              <a href="/blog/page/1">Blog</a>
          </li>
          <li>
              <a href="/blog/18">Contact</a>
          </li>
					<li>
						<div>Logo made with <a href="https://www.designevo.com/en/" title="Free Online Logo Maker">DesignEvo</a></div>
					</li>
      </ul>
    </nav>
    <div class="social-btns pull-right">
        <a href="https://www.facebook.com/HomeschoolNetwork"><div class="fui-facebook"></div><div class="fui-facebook"></div></a>
        <a href="#"><div class="fui-twitter"></div><div class="fui-twitter"></div></a>
    </div>
	
</div>
