<div class="row">
    <div class="col-sm-4">
        <div class="services">
            <div class="service-item">
                <i class="fa fa-vcard"></i>
                <div class="service-desc">
                    <h5>{{ 'User profile'|_ }}</h5>
                    <p>Bacon ipsum dolor sit amet rump tri-tip pig pork chop. Doner tri-tip shoulder, andouille sausage filet mignon beef ribs drumstick.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="services">
            <div class="service-item">
                <i class="fa fa-book"></i>
                <div class="service-desc">
                    <h5>{{ 'New course'|_ }}</h5>
                    <p>Salami turkey jowl rump jerky ball tip drumstick ground round tenderloin kielbasa hamburger prosciutto. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="services">
            <div class="service-item">
                <i class="fa fa-clipboard"></i>
                <div class="service-desc">
                    <h5>{{ 'New evaluation'|_ }}</h5>
                    <p>T-bone tongue turducken hamburger, doner sirloin rump pork jowl cow. Beef rump ham hock brisket.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="services">
            <div class="service-item">
                <i class="fa fui-new"></i>
                <div class="service-desc">
                    <h5>{{ 'New post'|_ }}</h5>
                    <p>Kielbasa chicken doner filet mignon meatball salami ground round prosciutto spare ribs jerky meatloaf shankle bacon beef swine.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="services">
            <div class="service-item">
                <i class="fa fa-cloud"></i>
                <div class="service-desc">
                    <h5>{{ 'Homeschooler cloud'|_ }}</h5>
                    <p>Short loin pork belly beef, tenderloin swine ribeye tri-tip doner salami rump hamburger kielbasa venison beef ribs brisket.</p>
                </div>
            </div>
        </div>
    </div>
</div>
