title = "Movie single"
url = "/movie/:id"
layout = "octaskin"
is_hidden = 0

[builderDetails]
modelClass = "Watchlearn\Movies\Models\Movie"
identifierValue = "{{ :id }}"
modelKeyColumn = "slug"
displayColumn = "name"
notFoundMessage = "Record not found"
==
<section id="lt-header" class="lt-section lt-section-fullwidth section">
  <div class="lt-container container">
    <div class="lt-content lt-header-content">
      {% partial "pages-about/header" %}
    </div>
  </div>
</section>

<section id="lt-mainpage" class="lt-section section">
  <div class="lt-container container">
    <div class="lt-content lt-mainpage-content">
        {% set record = builderDetails.record %}
        {% set displayColumn = builderDetails.displayColumn %}
        {% set notFoundMessage = builderDetails.notFoundMessage %}
        
        {% if record %}
            <h2>{{ attribute(record, displayColumn) }}</h2>
            <img src="{{ record.poster.thumb(200, auto) }}">
            <ul class="gallery clearfix">
              {% for image in record.movie_gallery %}
                <li>
                  <a href="{{image.path}}"><img src="{{image.thumb(80,80, {'mode':'crop'})}}"></a></li>
              {% endfor %}
            </ul>
            <h4>Genres</h4> <!--genres is Field Name in control-->
            {% for genre in record.genres %}
              {{ genre.genre_title }}   <br>
            {% endfor %}
            <h5>{{ record.year }}</h5>

            <h4>Actors</h4> <!--genres is Field Name in control-->
            {% for genre in record.genres %}
              {{ genre.genre_title }}   
            {% endfor %}
            <h5>{{ record.year }}</h5>

            <h4>Description</h4>

            {{ record.description|raw }}
        {% else %}
            {{ notFoundMessage }}
        {% endif %}
    </div>
  </div>
</section>
