[viewBag]
==
<div class="row">
  <div class="col-sm-3">
    <div class="{{ wrapper_class }} form-group">
      <label>{{ 'Country'|_ }}</label>
      {{ form_select_country('country_id', form_value('country_id'),
      {
        class: class ~ ' form-control',
        emptyOption: '-- SELECT COUNTRY --',
        'data-request': 'onInit',
      }) }}
    </div>
  </div>
  <div class="col-sm-3">
    <div class="{{ wrapper_class }} form-group">
      <label>{{ 'Province'|_ }}</label>
      {{ form_select_province('state_id',  form_value('state_id'), {
          class: class ~ ' form-control',
          emptyOption: '-- SELECT PROVINCE --',
          'data-request': 'onInit','data-request-update': {
            'location/location-select': '._ajax_location_select_wrapper'
      } }) }}
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      <label>{{ 'Amphure'|_ }}</label>
      {{ form_select_amphure('amphure_id', form_value('state_id'), form_value('amphure_id'), {
          class: class ~ ' form-control',
          emptyOption: '-- SELECT CITY --',
          'data-request': 'onInit',
          'data-request-update': {
            'location/location-select': '._ajax_location_select_wrapper'
          }
        }) }}
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      <label>{{ 'District'|_ }}</label>
      {{ form_select_district('district_id', form_value('amphure_id'), form_value('district_id'), {
          class: class ~ ' form-control',
          emptyOption: '-- SELECT DISTRICT --',
          
        }) }}
    </div>
  </div>
</div>
