title = "Portfolio"
url = "/portfolio/:author"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[scopePosts]
pageNumber = "{{ :page }}"
categoryFilter = "portfolio"
postsPerPage = 100
evaluationID = 0
userID = 0
authorID = "{{ :author }}"
from = "0000-00-00"
to = "0000-00-00"
isPublished = 1
drafted = 0
categoryPage = "blog/category"
postPage = "blog/post"
noPostsMessage = "No posts found"
sortOrder = "published_at asc"

[builderDetails]
modelClass = "RainLab\User\Models\User"
identifierValue = "{{ :author }}"
modelKeyColumn = "id"
displayColumn = "name"
notFoundMessage = "Record not found"
==
{% set postsbytag = scopePosts.postsbytag %}
{% set tags = scopePosts.tags %}
<section id="layout-title">
  <div class="container">
    <h3 class="pull-left">Portfolio : {% component 'builderDetails' %} {{ record.surname }}</h3>
    <div class="btn-toolbar pull-right">
      <div class="btn-group" id="filters">
        <a class="btn btn-primary active" href="#filter" class="selected" data-filter="*"><span class="fui-list"></span> All</a>
        {% for tag in tags['id'] %}
        <a class="btn btn-primary" href="#filter" data-filter=".{{ tag }}"> {{ tags['name'][loop.index0] }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<div class="container">
  <!-- start: Portfolio -->
  <div id="portfolioItems" class="row">
    {% for Post in scopePosts.posts %}
    <div class="col-md-{{random([3])}} grid-sizer portfolio-item {% for tag in Post.tags %} {{ tag.id }}{% endfor %}">
      <div class="picture">
        <a class="image" href="/blog/{{Post.slug}}" title="{{Post.title}}">
        {% if Post.featured_images[0] %}
          <img src="{{ Post.featured_images[0] | resize(340, 340) }}" alt="{{Post.title}}" style="width:100%; height:auto;"/>
        {% else %}
          <img src="/storage/app/media/heliports_image_placeholder.jpg" width="100%" alt="{{Post.title}}"/>
        {% endif %}
        </a>
        <div class="description">
          <a href="/blog/{{Post.slug}}" class="btn btn-info btn-block">{{ str_limit(Post.title, 20) }}</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div><br>
{% put scripts %}
  <script src="{{ [
      'assets/vendor/isotope/jquery.isotope.js',
      'assets/javascript/pages/portfolio.js',
  ]|theme }}"></script>
{% endput %}