title = "ร่องรอยการเรียนรู้"
url = "/portfolio/:author/:year?"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[viewBag]
localeUrl[en] = "/portfolio"

[scopePosts]
pageNumber = "{{ :page }}"
categoryFilter = "portfolio"
postsPerPage = 100
noPostsMessage = "No posts found"
sortOrder = "published_at asc"
categoryPage = "blog/category"
postPage = "blog/post"
backend = 0
userID = "{{ :author }}"
featured = 0
drafted = 0
from = {{ :year }}
to = {{ :year }}
evaluationID = 0
ownerID = 0

[builderDetails]
modelClass = "RainLab\User\Models\User"
identifierValue = "{{ :author }}"
modelKeyColumn = "id"
displayColumn = "name"
notFoundMessage = "Record not found"
==
<?php
function onEnd() {
  $this->page->custom_title = $this->page->title.' @'.$this->record->name.' '.$this->record->surname;
  #$this->page->custom_description = strip_tags($this->blogPosts->category->description);
}
?>
==
{% set postsbytag = scopePosts.postsbytag %}
{% set tags = scopePosts.tags %}
<section id="layout-title">
  <div class="container">
    <h3 class="pull-left">{{ 'Portfolio'|_ }} : {% component 'builderDetails' %} {{ record.surname }}</h3>
    <div class="row">
      <div class="col-sm-12">
        <div class="btn-toolbar">
            <a class="btn disabled" style="pointer:none;"><span class="fa fa-filter"></span> {{ 'Year'|_ }}</a>
            <a class="btn btn-primary" href="{{ ''| page }}/2019">2019</a>
        </div>
      </div>
    </div>
    <br>
  </div>
</section>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="btn-toolbar">
        <div class="btn-group" id="filters">
          <a class="btn btn-primary active" href="#filter" class="selected" data-filter="*"><span class="fui-list"></span> {{ 'All'|_ }}</a>
          {% for tag in tags['id'] %}
          <a class="btn btn-primary" href="#filter" data-filter=".{{ tag }}"> {{ tags['name'][loop.index0] }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <!-- start: Portfolio -->
  <div id="portfolioItems" class="row">
    {% for post in scopePosts.posts %}
    <div class="col-md-{{random([3])}} grid-sizer portfolio-item {% for tag in post.tags %} {{ tag.id }} {{ post.published_at|slice(0, 4) }} {% endfor %}">
      <div class="picture">
        <a class="image" href="/blog/{{post.slug}}" title="{{post.title}}">
        {% if post.featured_images[0] %}
          <img src="{{ post.featured_images[0] | resize(340, 340) }}" alt="{{post.title}}" style="width:100%; height:auto;"/>
        {% else %}
          <img src="/storage/app/media/heliports_image_placeholder.jpg" width="100%" alt="{{post.title}}"/>
        {% endif %}
        </a>
        <!--<div class="description">
          <a href="/blog/{{post.slug}}" class="btn btn-info btn-block">{{ str_limit(post.title, 20) }}</a>
        </div>-->
      </div>
    </div>
    {% endfor %}
  </div>
</div><br>
{% put scripts %}
  <script src="{{ [
      'assets/vendor/isotope/jquery.isotope.js',
      'assets/javascript/pages/portfolio.js',
  ]|theme }}"></script>
{% endput %}