title = "User Profile"
url = "/user/profile/:id"
layout = "default"
is_hidden = 0
robot_index = "noindex"
robot_follow = "nofollow"

[session]
security = "user"
redirect = "login/login"

[account]
paramCode = "code"
forceSecure = 0

[builderDetails]
modelClass = "RainLab\User\Models\User"
identifierValue = "{{ :id }}"
modelKeyColumn = "id"
displayColumn = "username"
notFoundMessage = "Record not found"

[courses]
results = 0
byUserID = "{{ :id }}"
sortOrder = "template"

[evaluations]
results = 0
byUserID = "{{ :id }}"
sortOrder = "template"
==
<section id="layout-title">
    <div class="container">
      <div class="col-sm-1">
        <img class="center-block" src="https://graph.facebook.com/{{ record.facebook }}/picture?type=small" title="{{ record.name }}" style="border-radius: 100px; height:85px; padding:10px;">
      </div>
      <div class="col-sm-11">
        <h3>{{ record.name }} {{ record.surname }}</h3>
      </div>
    </div>
</section>
<div class="container">
  <div class="row">
    <div class="col-md-7">
      <b>{{ 'About'|_ }}</b> <p>{{ record.note|raw }}</p>
      <b>{{ 'Course'|_ }}</b> <p>
        {%  set courses = courses.courses %}
        {% for c in courses %}
          <a href="/user/course/{{ c.created_at|date('U') }}"> <span class="fui-new"></span> {{ c.name }}</a> [ {{ c.modified_at|date("m/d/Y") }} ]<br>
        {% endfor %}
      </p>
      <b>{{ 'Evaluation'|_ }}</b>
      <p>
        {%  set evaluations = evaluations.evaluations %}
        {% for c in evaluations %}
          {% for e in c.evaluations %}
            <a href="/user/evaluation/{{ e.created_at|date('U') }}"> <span class="fui-new"></span> {{ e.name }}</a> [ {{ e.modified_at|date("m/d/Y") }} ]<br>
          {% endfor %}
        {% endfor %}
      </p>
    </div>

    <div class="col-md-5">
        <div class="contact-banner">
            <h3 class="banner-title">{{ 'Contact'|_ }}</h3>
            <ul>
                <li>{{ record.street_addr }}</li>
                <li>{{ record.city }},{{ record.state.name }} {{ record.zip }}</li>
                <li>{{ 'Mobile'|_ }}: {{ record.mobile }}</li>
                <li>{{ 'Phone'|_ }}: {{ record.phone }}</li>
                <li>{{ 'Email'|_ }}: <a href="mail-to:{{ record.username }}">{% component 'builderDetails' %}</a></li>
                <li>{{ 'Facebook'|_ }}: <a href="https://www.facebook.com/{{ record.facebook }}">{{ record.facebook }}</a></li>
                <li>{{ 'Twitter'|_ }}: <a href="https://www.twitter.com/{{ record.twitter }}">{{ record.twitter }}</a></li>
            </ul>
        </div>


        <div class="google-maps">

          <iframe
            width="500"
            height="450"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
            src="https://maps.google.com/maps?q={{record.street_addr}}&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
        </div>

    </div>
  </div>
</div>
<br>