title = "User Profile"
meta_title = "User Profile"
url = "/u/:id"
layout = "default"
is_hidden = 0
robot_index = "noindex"
robot_follow = "nofollow"

[session]
security = "user"
redirect = "login/login"

[account]
paramCode = "code"
forceSecure = 0

[builderDetails]
modelClass = "RainLab\User\Models\User"
identifierValue = "{{ :id }}"
modelKeyColumn = "id"
displayColumn = "username"
notFoundMessage = "Record not found"

[courses]
results = 0
byUserID = "{{ :id }}"
sortOrder = "created_at"

[evaluations]
results = 0
byUserID = "{{ :id }}"
sortOrder = "created_at"

[scopePosts]
pageNumber = 1
postsPerPage = 10
evaluationID = 0
userID = 0
authorID = "{{ :id }}"
from = "0000-00-00"
to = "0000-00-00"
isPublished = 1
drafted = 0
categoryPage = "blog/category"
postPage = "blog/post"
noPostsMessage = "No posts found"
sortOrder = "updated_at desc"

[scopePosts scopePosts2]
pageNumber = 1
postsPerPage = 10
evaluationID = 0
userID = 0
authorID = "{{ :id }}"
from = "0000-00-00"
to = "0000-00-00"
isPublished = 0
drafted = 1
categoryPage = "blog/category"
postPage = "blog/post"
noPostsMessage = "No posts found"
sortOrder = "published_at asc"

[scopePosts scopePosts3]
pageNumber = "{{ :page }}"
categoryFilter = "portfolio"
postsPerPage = 5
evaluationID = 0
userID = 0
authorID = "{{ :id }}"
from = "0000-00-00"
to = "0000-00-00"
isPublished = 0
drafted = 0
categoryPage = "blog/category"
postPage = "blog/post"
noPostsMessage = "No posts found"
sortOrder = "published_at asc"
==
<?php
  function onEnd() {
    $this->page->custom_title = $this->record->name.' '.$this->record->surname;
  }
?>
==
<section id="layout-title">
    <div class="container">
      <div class="col-sm-12">
        <h3><a href="/u/{{record.id}}"><img src="{% if record.facebook_id %} https://graph.facebook.com/{{ record.facebook_id }}/picture?type=normal {% else %} {{ 'assets/images/team/anonymous.jpg'|theme }} {% endif %}" title="{{ record.name }}" class="avatar"></a> {{ record.name }} {{ record.surname }}</h3>
      </div>
    </div>
</section>
<div class="container">
  <div class="row">
    <div class="col-md-7">
      <b>{{ 'About'|_ }}</b>
      <p>{{ record.note|raw }}</p>
      <b><a href="/blog/author/{{ record.id }}">{{ 'Latest posts'|_ }}</a></b>
      <p>
        {% if scopePosts.posts %}
          {% for Post in scopePosts.posts %}
            <a href="{{Post.url}}"><span class="fa fa-fw" aria-hidden="true">&#xf040;</span> {{ Post.title }}</a><br>
          {% endfor %}
        {% else %}
          {{ 'No posts found'|_ }}
        {% endif %}
      </p>
      <b>{{ 'Drafted posts'|_ }}</b>
      <p>
        {% if scopePosts2.posts %}
          {% for Post in scopePosts2.posts %}
            <a href="{{Post.url}}"><span class="fa fa-fw" aria-hidden="true">&#xf040;</span> {{ Post.title }}</a><br>
          {% endfor %}
        {% else %}
          {{ 'No posts found'|_ }}
        {% endif %}
      </p>
      <b><a href="/portfolio/{{record.id}}">{{ 'Portfolios'|_ }}</a></b>
      <p>
        {% if scopePosts3.posts %}
          {% for Post in scopePosts3.posts %}
            <a href="{{Post.url}}"><span class="fa fa-fw" aria-hidden="true">&#xf040;</span> {{ Post.title }}</a><br>
          {% endfor %}
        {% else %}
          {{ 'No posts found'|_ }}
        {% endif %}
      </p>
      <b>{{ 'Course'|_ }}</b>
      <p>
        {%  set courses = courses.courses %}
        {% for c in courses %}
          <a href="/course/{{ c.created_at|date('U') }}"><span class="fa fa-fw" aria-hidden="true">&#xf0f6;</span> {{ c.name }}</a> <br>
        {% endfor %}
      </p>
      <b>{{ 'Evaluation'|_ }}</b>
      <p>
        {%  set evaluations = evaluations.evaluations %}
        {% for c in evaluations %}
          {% for e in c.evaluations %}
            <a href="/evaluation/{{ e.created_at|date('U') }}"><span class="fa fa-fw" aria-hidden="true">&#xf1c5;</span> {{ e.name }}</a> <br>
          {% endfor %}
        {% endfor %}
      </p>
    </div>

    <div class="col-md-5">
        <div class="contact-banner">
            <h3 class="banner-title">{{ 'Contact'|_ }}</h3>
            <ul>
                <li>{{ record.company }} </li>
                <li>{{ record.street_addr }} {{ record.city }} {{ record.state.name }} {{ record.zip }}</li>
                <li>{{ 'Mobile'|_ }}: {{ record.mobile }}</li>
                <li>{{ 'Phone'|_ }}: {{ record.phone }}</li>
                <li>{{ 'Email'|_ }}: <a href="mail-to:{{ record.username }}">{% component 'builderDetails' %}</a></li>
                <li>{{ 'Facebook'|_ }}: <a href="https://www.facebook.com/{{ record.facebook }}">{{ record.facebook }}</a></li>
                <li>{{ 'Twitter'|_ }}: <a href="https://www.twitter.com/{{ record.twitter }}">{{ record.twitter }}</a></li>
                <li>{{ 'Line'|_ }}: <a href="#">{{ record.line }}</a></li>
            </ul>
        </div>
        <div class="google-maps">
          <iframe
            width="500"
            height="450"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
            src="https://maps.google.com/maps?q={{record.street_addr}}+{{record.zip}}&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
        </div>

    </div>
  </div>
</div>
<br>
