{%  set evaluations = evaluations.evaluations %}

<div class="row">
	<div class="col-md-6">
		<label>{{ 'Evaluation'|_ }}</label><br>
		<div class="btn-group" style="width:100%;">
      <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button" style="width:100%; text-align:left;">&nbsp; <span class="fui-new"></span> {{ 'Select Evaluation'|_ }} <span class="caret"></span></button>
      <ul role="menu" class="dropdown-menu" style="width:100%;">
				<li><a href="/login/new/evaluation"><span class="fui-new"></span> {{ 'New Evaluation'|_ }}</a></li>
				{% for course in evaluations %}
				<li><b>&nbsp; [ {{ course.created_at|date("m/d/Y") }} ] {{ course.name }}</b>
					{% for evaluation in course.evaluations %}
						<a href="/login/edit/evaluation/{{ evaluation.id }}"> <span class="fui-new"></span> {{ 'Evaluation'|_ }} : {{ evaluation.id }}</a>
					{% endfor %}
				</li>
				<li class="divider"></li>
				{% endfor %}
      </ul>
    </div>
	</div>
	<div class="col-md-6">
		<label>{{ 'Courses'|_ }} </label>
		<select class="form-control select select-primary" data-toggle="select" style="width:100%">
			<option value="">{{ 'Select Course'|_ }}</option>
			{% for evaluation in evaluations %}
				{% if evaluation.template != 1 %}
				<option value="{{ evaluation.id }}" {{ builderDetails.identifierValue == evaluation.id ? 'selected' : '' }}>{{ evaluation.name }}</option>
				{% endif %}
			{% endfor %}
		</select>
	</div>
</div>
