[viewBag]

[evaluations]
results = 0
byUserID = "{{ user }}"
sortOrder = "created_at"

[tagList]
displayEmpty = 1
orderBy = "name asc"
includeSeriesTags = 0
fetchSeriesPostCount = 1
limit = 0
enableTagFilter = "never"
tagPage = 404
tagsPage = 404
==
<?php
public function beforeSave() {
  //dump(post()); 
}
?>
==
{%  set student_evaluations = evaluations.student_evaluations %}
{%  set evaluations = evaluations.evaluations %}
<!-- START postform-default.htm -->
{% if PostForm.backUser %}
{{ form_open({ 'id':'bpostform', 'data-request': 'onSave','data-request-validate':'','data-request-flash':'', files: true }) }}
  <input type="hidden" id="Form-field-blog-id" name="id" value="{{ PostForm.post.id }}"></input>
  <div class="row">
    <div class="col-sm-6">
      {% if this.param.mod == 'portfolio' or 6 in PostForm.postCategoryIds or PostForm.post.evaluation_id != 0  %}<!--ใช้ในกรณี add/portfolio และกรณีแก้ไข กรณีที่อยู่ในหมวด 6 คือ portfolio หรือ ใน post มีการระบุ evaluation_id ใน post -->
      <div class="form-group">
        <label>{{ 'For Evaluation'|_ }}</label>
        <!-- ถ้าปีการศึกษาเท่ากับปีนี้ให้เลือก และ PostForm.post.id จะไม่มีค่านี้กรณีเลือก new post -->
        <select name="evaluation_id" class="form-control select select-primary" data-toggle="">
          <option value="">{{ 'Select Evaluation'|_ }}</option>
          {% for e in student_evaluations %}
            <option value="{{ e.id }}" {% if(e.graduated == ("now"|date("Y")+543) and PostForm.post.id == null) or (PostForm.post.evaluation_id == e.id) %} selected  {%else %} none {% endif %}> {{ e.name }}</option>
          {% endfor %}
          {% for e in evaluations %}
            {% if e.template == 0 or can('edit_course_template') %}
              {% if e.graduated >= 2562 %}
              <option value="{{ e.id }}" {% if(e.graduated == ("now"|date("Y")+543) and PostForm.post.id == null) or (PostForm.post.evaluation_id == e.id) %} selected  {%else %} none {% endif %}> {{ e.name }}</option>
              {% endif %}
            {% endif %}
          {% endfor %}
        </select>
      </div>
      {% endif %}
      {% if PostForm.allow_images %}
      <div class="form-group">
        <label>{{ 'Feature image'|_ }}</label>
        <!-- 0File uploader -->
        {% component 'imageUploader' %}
      </div>
      <div class="form-group">
        {% if PostForm.post.featured_images.count %}
        <table class="table">
          <thead>
            <tr>
              <th>{{ PostForm.trans('form_comp.filename') }}</th>
              <th>{{ PostForm.trans('form_comp.title') }}</th>
              <th>{{ PostForm.trans('form_comp.description') }}</th>
            </tr>
          </thead>
          <tbody>
          {% for image in PostForm.post.featured_images %}
            <tr>
              <td title="{{ image.path }}">
                <img data-src="{{ image.filename }}" src="{{ image.path }}" alt="{{ image.description }}" height="50"/> {{ image.filename }}
              </td>
              <td>
                <input type="text" name="ititle[{{ image.id }}]" id="Form-field-image-title" value="{{ image.title }}" class="form-control" maxlength="50">
              </td>
              <td>
                <input type="text" name="idescription[{{ image.id }}]" id="Form-field-image-description" value="{{ image.description }}" class="form-control">
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <label for="Form-field-blog-title">{{ 'Title'|_ }}</label>
        <input type="text" name="title" id="Form-field-blog-title" value="{{ PostForm.post.title }}" placeholder="{{ PostForm.blogtrans('post.title_placeholder') }}" class="form-control" maxlength="255">
      </div>
    </div>
    <!--<div class="col-sm-6">
      <div class="form-group">
        <label for="Form-field-blog-slug">{{ PostForm.blogtrans('post.slug') }}</label>
        <input type="text" name="slug" id="Form-field-blog-slug" value="{{ PostForm.post.slug }}" placeholder="{{ PostForm.blogtrans('post.slug_placeholder') }}" class="form-control" maxlength="255">
      </div>
    </div>-->
  </div>
  {% if PostForm.show_excerpt %}
  <div class="form-group">
    <label for="Form-field-blog-excerpt">{{ 'Excerpt'|_ }}</label>
    <textarea name="excerpt" id="Form-field-blog-excerpt" class="form-control" rows="5">{{ PostForm.post.excerpt }}</textarea>
  </div>
  {% endif %}
  <div class="form-group">
    <label for="Form-field-blog-content">{{ 'Content'|_ }}</label>
    <textarea name="content" id="content" class="form-control mytinymce" rows="20">{{ PostForm.post.content }}</textarea>
  </div>
  <label for="Form-field-blog-tag">{{ 'Tags'|_ }} ({{ 'Portfolio group'|_ }})</label>
  <div class="row">
    <div class="col-sm-12">
      <!--{{ tagList.tags}}-->
      {% for tag in tagList.tags %}
         {{ tag.series }}
      {% endfor %}

      <select name="tags[]" class="s2 multiple-select-box" multiple="multiple" style="width:100%;">
        {% for tag in tagList.tags %}
          {% if tag.series[0].slug == 'portfolio' %}
          <option value="{{ tag.id }}" {% if tag.id in PostForm.tags or (this.param.mod == 'portfolio' and tag.id == 478) %} selected {% endif %}>{{ tag.name }}</option>
          {% endif %}

        {% endfor %}
      </select>
      <!--<input type="text" name="tags" class="s2 multiple-select-box" />-->
    </div>
  </div>
  <div class="form-group">
    <label for="Form-field-blog-category">{{ 'Category'|_ }}</label>
    {% for cat in PostForm.categories %}
      <label class="checkbox" for="Form-field-blog-cat-{{ cat.name }}">
      <input type="checkbox" id="Form-field-blog-cat-{{ cat.name }}"  data-toggle="checkbox" name="category[]" value="{{ cat.id }}" {% if cat.id in PostForm.postCategoryIds or (this.param.mod == 'portfolio' and cat.id == 6) %}checked="checked"{% endif %}>
        {{ cat.name }}
      </label>
    {% endfor %}
  </div>
  {% if PostForm.user_groups %}
  <p>{{ PostForm.trans('general.notify_groups') }}</p>
    {% for id,name in PostForm.user_groups %}
      {{ form_checkbox('notify_groups[]', id,false,{ id:'notify_groups'~id }) }}
      <label for="notify_groups{{ id }}">{{ name }}</label>
    {% endfor %}
  {% endif %}
<!--end tab-content -->
  <div class="alert alert-danger" data-validate-error>
    <p data-message></p>
  </div>

  {% if PostForm.post.id %}
    <button type="button"
      title="{{ 'Save'|_ }}"
      class="btn btn-lg btn-default fa fa-save float"
      data-hotkey="ctrl+s, cmd+s"
      data-request="onSave"
      data-request-data="published:1">
    </button>
  {% endif %}
  {% if PostForm.allowpublish %}
    <div class="col-sm-3">
      <button
        id="publish_save"
        type="button"
        data-request="onSave"
        data-request-data="published:1, redirect:1"
        data-load-indicator="{{ PostForm.trans('kurtjensen.mycalendar::lang.general.saving') }}"
        class="btn btn-primary btn-block">{{ PostForm.trans('general.btn_save_publish') }}
      </button>
    </div>
    <div class="col-sm-3">
      <button
        id="draft_save"
        type="button"
        data-hotkey="ctrl+s, cmd+s"
        data-request="onSave"
        data-request-data="published:0, redirect:1"
        data-load-indicator="{{ PostForm.trans('kurtjensen.mycalendar::lang.general.saving') }}"
        class="btn btn-warning btn-block">{{ PostForm.trans('general.btn_save_draft') }}
      </button>
    </div>
    <div class="col-sm-3">
      <button
        id="delete"
        type="button"
        data-request="onDelete"
        data-request-confirm="Are you sure?"
        class="btn btn-danger btn-block">{{ PostForm.trans('general.btn_delete') }}
      </button>
    </div>
  {% endif %}
{{ form_close() }}
{% else %}
<p>{{ PostForm.trans('general.unauthorized') }}</p>
{% endif %}
<!-- End postform-default.htm -->
{% put styles %}
<link rel="stylesheet" href="{{ 'assets/css/select2.css'|theme }}">
{% endput %}
{% put scripts %}
  <!--<script src="{{ 'assets/js/select2.js'|theme }}"></script>-->
  <script type="text/javascript">
    $(".s2").select2({
      tags:true
    });
  </script>
  <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  <script>
    var editor_config = {
      selector: "textarea.mytinymce",
      path_absolute : "/",
      setup: function (mytinymce) {
        mytinymce.on('change', function () {
          tinymce.triggerSave();
        });
        mytinymce.on('init', function() {
          this.getDoc().body.style.fontSize = '18px';
          this.getDoc().body.style.fontFamily = 'Sarabun, Tahoma, Arial';
        });
        mytinymce.on('keydown', function(event) {
	       if (event.keyCode == 9) { // tab pressed
	          if (event.shiftKey) {
	            mytinymce.execCommand('Outdent');
	          }
	          else {
	            mytinymce.execCommand('Indent');
	          }
	          event.preventDefault();
	          return false;
	        }
		    });
      },
      plugins: [
        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
        "searchreplace wordcount visualblocks visualchars code fullscreen",
        "insertdatetime media nonbreaking save table contextmenu directionality",
        "emoticons template paste textcolor colorpicker textpattern"
      ],
      toolbar: "fontsizeselect forecolor | blockquote bold italic underline | alignleft aligncenter alignright | bullist numlist indent outdent table | image media link | removeformat",
      templates: [
        {title: 'Some title 1', description: 'Some desc 1', content: 'My content'},
        {title: 'Some title 2', description: 'Some desc 2', url: 'development.html'}
      ],
  		relative_urls: false,
  		force_br_newlines : true,
  		force_p_newlines : false,
			paste_as_text: false,
      forced_root_block : 'div',
      file_browser_callback : function(field_name, url, type, win) {
        var x = window.innerWidth || document.documentElement.clientWidth || document.getElementsByTagName('body')[0].clientWidth;
        var y = window.innerHeight|| document.documentElement.clientHeight|| document.getElementsByTagName('body')[0].clientHeight;

        var cmsURL = editor_config.path_absolute + 'lfm?field_name=' + field_name;
        if (type == 'image') {
          cmsURL = cmsURL + "&type=Images";
        } else {
          cmsURL = cmsURL + "&type=Files";
        }

        tinyMCE.activeEditor.windowManager.open({
          file : cmsURL,
          title : 'Filemanager',
          width : x * 0.8,
          height : y * 0.8,
          resizable : "yes",
          close_previous : "no"
        });
      }
    };
    tinymce.init(editor_config);
  </script>
{% endput %}