[viewBag]

[courses]
results = 0
sortOrder = "name asc"
==
<!-- ยกเลิกการใช้งานชั่วคราว -->

<!--  Categories -->
<div class="panel panel-default">
    <div class="panel-heading">
       {{ user.name }}
    </div>
    <ul class="list-group filter-list-group">
        <li class="list-group-item"><a href="/login/profile" style="font-size: 18px;">{{ 'My profile'|_ }}</a></li>
        <li class="list-group-item"><a href="/login/add/course" style="font-size: 18px;">{{ 'New course'|_ }}</a></li>
				<li class="list-group-item"><a href="/login/add/course" style="font-size: 18px;">{{ 'New evaluate'|_ }}</a></li>
        <li class="list-group-item"><a href="javascript:void(0);" data-request="onLogout" data-request-data="redirect: '/'" style="font-size: 18px;">{{ 'Sign out'|_ }}</a></li>
    </ul>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    {{ 'Courses'|_ }}
  </div>
  {% component 'courses' %}
</div>

