[evaluations]
results = 0
byUserID = "{{ user_id }}"
sortOrder = "created_at"

[blogTags]
results = 0
direction = "desc"
==
{%  set student_evaluations = evaluations.student_evaluations %}
{%  set evaluations = evaluations.evaluations %}
<!-- START postform-default.htm -->
{% if PostForm.backUser %}
{{ form_open({ 'id':'bpostform', 'data-request': 'onSave', 'data-request-validate':'', 'data-request-flash':'', files: true }) }}
  <input type="hidden" id="Form-field-blog-id" name="id" value="{{ PostForm.post.id }}"></input>
  <input type="hidden" name="title" value="Whatson">
  <input type="hidden" name="excerpt" value="">
  <input type="hidden" name="category[0]" value="6">
  <input type="hidden" name="tags[0]" value="478">
  <div class="row">
    <div class="col-sm-3 col-xs-3">
      <a href="/u/{{ user.id }}"><img src="{% if user.facebook_id %} https://graph.facebook.com/{{ user.facebook_id }}/picture?type=normal {% else %} {{ 'assets/images/team/anonymous.jpg'|theme }} {% endif %}" title="{{ user.name }}" class="avatar" style="margin-left:15px; margin-top:15px;"></a>
    </div>
    <div class="col-sm-9 col-xs-9">
      <div class="form-group">
        <div style="font-size:20px;"><a href="/u/{{ user.id }}">{{ user.name }} {{ user.surname }}</a></div>
        <select name="evaluation_id" class="form-control select select-primary" data-toggle="">
          <option value="">{{ 'Select Evaluation'|_ }}</option>
          {% for e in student_evaluations %}
            <option value="{{ e.id }}" {% if(e.graduated == ("now"|date("Y")+543) and PostForm.post.id == null) or (PostForm.post.evaluation_id == e.id) %} selected {%else %} none {% endif %}> {{PostForm.post.evaluation_id}}{{ e.name }}</option>
          {% endfor %}

          {% for e in evaluations %}
            {% if e.template == 0 %}
              {% if e.graduated >= 2562 %}
                <option value="{{ e.id }}" {% if(e.graduated == ("now"|date("Y")+543) and PostForm.post.id == null) or (PostForm.post.evaluation_id == e.id) %} selected {% endif %}> {{ e.name }}</option>
              {% endif %}
            {% endif %}
          {% endfor %}

        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <textarea name="content" id="Form-field-blog-content" class="form-control" rows="5" placeholder="{{ 'New portfolio'|_ }} {{ 'What\'s on today'|_ }}, {{ user.name }}?" onkeyup="if(this.value == '') document.getElementById('publish_save').disabled = true; else document.getElementById('publish_save').disabled = false;">{{ PostForm.post.content }}</textarea>
      </div>
    </div>
    
    <!--<div class="col-sm-12">
      <div class="alert alert-danger" data-validate-error>
        <p data-message></p>
      </div>
    </div>-->
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <!--<select name="tags[]" class="s2 multiple-select-box" multiple="multiple" style="width:100%;">
          {% for tag in blogTags.tags %}
            {% if 'กลุ่ม' in tag.name %}
              <option value="{{ tag.id }}" {% if tag.id in PostForm.tags or (tag.id == 478) %} selected {% endif %}>{{ tag.name }}</option>
            {% endif %}
          {% endfor %}
        </select>-->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      {% component 'imageUploader' %}
    </div>
    <div class="col-sm-4">
      <select name="published" class="form-control select-primary" >
        <option value="0">Draft</option>
        <option value="1" selected>Publish</option>
      </select>
    </div>
    <div class="col-sm-4 button-margin-top">
      <button
        id="publish_save"
        type="button"
        data-request="onSave"
        data-request-data="redirect:1"
        data-load-indicator="{{ PostForm.trans('kurtjensen.mycalendar::lang.general.saving') }}"
        class="btn btn-primary btn-block" onClick="this.form.title.value = this.form.content.value.substr(0, 60);" disabled>{{ 'Save'|_ }}
      </button>
    </div>
  </div>

{{ form_close() }}
{% else %}
<p>{{ PostForm.trans('general.unauthorized') }}</p>
{% endif %}
<!-- End postform-default.htm -->
{% put scripts %}
  <!--<link rel="stylesheet" href="{{ 'assets/css/select2.css'|theme }}">
  <script src="{{ 'assets/js/select2.js'|theme }}"></script>-->
  <script type="text/javascript">
    $(".s2").select2({
    });
  </script>
{% endput %}