title = "Home"
url = "/"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[viewBag]

[sociallogin]

[account]
paramCode = "code"
forceSecure = 0

[courses]
results = 3
byUserID = "0"
sortOrder = "updated_at"

[evaluations]
results = 3
byUserID = "0"
sortOrder = "updated_at"
==
<section class="home-title">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-5 home-login">
        <!--ครบเครื่องเรื่องการทำโฮมสคูลในประเทศไทย-->
        <div class="signup - form">
          {% if not user %}
          <form data-request="onSignin">
            <div class="form-group">
              <label for="userSigninLogin">{{ loginAttributeLabel }}</label>
              <input
                name="login"
                type="text"
                class="form-control"
                id="userSigninLogin"
                placeholder="Enter your {{ loginAttributeLabel|lower }}" />

              <label for="userSigninPassword">Password</label>
              <input
                name="password"
                type="password"
                class="form-control"
                id="userSigninPassword"
                placeholder="Enter your password" />
            </div>
            <button type="submit" style="width:225px; height:35px; padding-top: 5px; margin-top:5px;" class="btn  btn-default">Sign in</button>
            <a href="/flynsarmy/sociallogin/Facebook"><img src="{{ 'assets/images/fb-login.png'|theme }}" class="social-login"></a>
            <a href="/flynsarmy/sociallogin/Google"><img src="{{ 'assets/images/g-login.png'|theme }}" class="social-login"></a>
            <a href="/flynsarmy/sociallogin/Twitter"><img src="{{ 'assets/images/t-login.png'|theme }}" class="social-login"></a>
          </form>
          <br>{{ 'No account ?'|_ }} <a href="/login">{{ 'Register'|_ }}</a>
          {% else %}
            <div class="row">
              <div class="col-sm-12">
                <h3><a href="/user/profile/{{ user.id }}">{{ user.name }} {{ user.surname }}</a></h3>
              </div>
            </div>
		        <div class="row">
              <!--<div class="col-sm-2 col-xs-2" align="center">
                <a href="/user/profile/{{ user.id }}"><img src="{% if user.facebook_id %} https://graph.facebook.com/{{ user.facebook_id }}/picture?type=normal {% else %} {{ 'assets/images/team/anonymous.jpg'|theme }} {% endif %}" alt="{{ user.name }}"  title="{{ user.name }}" class="img-rounded img-responsive user-icon avatar-responsive"></a>
              </div>-->
		          <div class="col-sm-3 col-xs-3" align="center">
		            <a href="/login/profile"><img src="/themes/responsiv-flat/assets/images/icons/png/fa-address-book-o.png" class="img-rounded user-icon img-responsive" title="{{ 'My profile'|_ }}"></a>
		          </div>
		          <div class="col-sm-3 col-xs-3" align="center">
		            <a href="/login/new/course"><img src="/themes/responsiv-flat/assets/images/icons/png/fa-file-text.png" class="img-rounded user-icon img-responsive" title="{{ 'New course'|_ }}"></a>
		          </div>
		          <div class="col-sm-3 col-xs-3" align="center">
		            <a href="/login/new/evaluation"><img src="/themes/responsiv-flat/assets/images/icons/png/fa-file-picture-o.png" class="img-rounded user-icon img-responsive" title="{{ 'New evaluation'|_ }}"></a>
		          </div>
		          <div class="col-sm-3 col-xs-3" align="center">
		            <a href="/login/new/post"><img src="/themes/responsiv-flat/assets/images/icons/png/fa-pencil.png" class="img-rounded user-icon img-responsive" title="{{ 'New post'|_ }}"></a>
		          </div>
              <!--<div class="col-sm-2 col-xs-2" align="center">
		            <a href="/login/new/post"><img src="/themes/responsiv-flat/assets/images/icons/png/signout.png" class="img-rounded user-icon img-responsive" title="{{ 'Sign out'|_ }}"></a>
		          </div>-->
            </div>
            <div class="row" style="margin-top:10px;">
              <div class="col-sm-12">
                <b>{{ 'Course'|_ }}</b>
                <p>
                  {%  set courses = courses.courses %}
                  {% for c in courses %}
                    <a href="/login/edit/course/{{ c.id }}"> <span class="fui-new"></span> {{ c.name }}</a><br>
                  {% endfor %}
                </p>
                <b>{{ 'Evaluation'|_ }}</b>
                <p>
                  {%  set evaluations = evaluations.evaluations %}
                  {% for c in evaluations %}
                    {% for e in c.evaluations %}
                      <a href="/login/edit/evaluation/{{ e.id }}"> <span class="fui-new"></span> {{ e.name }}</a><br>
                    {% endfor %}
                  {% endfor %}
                </p>
              </div>
		          <!--<div class="col-sm-2" align="center">
		            <a href="javascript:void(0);" data-request="onLogout" data-request-data="redirect: '/'"><img src="/themes/responsiv-flat/assets/images/icons/png/signout.png" class="img-rounded user-icon"><font class="user-menu">{{ 'Sign out'|_ }}</font></a>
		          </div>-->
		        </div>
          {% endif %}
        </div>
        <!--<div class="additional-links">
          By signing up you agree to <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>
          </div>-->
      </div>
      <div class="col-sm-12 col-md-7">
        {% partial 'slide' %}
      </div>
    </div>
  </div>
</section>
<div class="container">
  <!-- Services -->
  <div class="row our-services">
    <div class="col-sm-12">
      <h4 class="headline"><span>{{ 'What we do'|_ }}</span></h4>
      <p>"เครือข่ายบ้านเรียน" เว็บกลางสำหรับสมาชิกบ้านเรียนหรือโฮมสคูลในเมืองไทย สามารถติดต่อ แลกเปลี่ยน หาความรู้ในการทำโฮมสคูล โดยสมาชิกจะสามารถ ค้นฐานข้อมูลสมาชิกบ้านเรียน, เขียนแผนการศึกษาออนไลน์, เขียนแบบประเมินและร่องรอยการเรียนรู้และสามารถร่วมเขียนเนื้อหาหรือบันทึกใดๆ ที่ต้องการแชร์ให้กับสมาชิกบ้านเรียนท่านอื่นๆ หรือบุคคลที่สนใจได้เข้ามาศึกษา เพื่อทำความรู้จักและสร้างกลุ่มบ้านเรียนให้ใหญ่ขึ้นได้ต่อไป</p>
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="services">
            <div class="service-item">
              <i class="fa fa-vcard"></i>
              <div class="service-desc">
                <h5><a href="/login/profile">{{ 'User profile'|_ }}</a></h5>
                <p>อย่าลืมกดเข้าไปอัพเดทข้อมูลเกี่ยวกับบ้านเรียนของคุณ เพื่อสร้างเครือข่ายให้ใหญ่ขึ้น และเป็นที่รู้จัก ไม่ต้องทนเหงาอีกต่อไป</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="services">
            <div class="service-item">
              <i class="fa fa-book"></i>
              <div class="service-desc">
                <h5><a href="/login/new/course">{{ 'New course'|_ }}</a></h5>
                <p>หากคุณประสบปัญหาในการเขียนรายงาน, ออกแบบการเรียนการสอนและการจัดเรียงเอกสาร
                  ด้านในจะมีตัวอย่างการเขียนแผนแบบสำเร็จรูปให้เลือกใช้งาน
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="services">
            <div class="service-item">
              <i class="fa fa-clipboard"></i>
              <div class="service-desc">
                <h5><a href="/login/new/evaluation">{{ 'New evaluation'|_ }}</a></h5>
                <p>ทุกปี จะมีเทศกาลปั่นรายงาน ส่วนนี้จะเป็นส่วนของการทำรายงานประเมินผล ท่านสามารถอัพเดทร่องรอยการเรียนรู้ของนักเรียนได้เรื่อยๆ ตลอดปี </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="services">
            <div class="service-item">
              <i class="fa fui-new"></i>
              <div class="service-desc">
                <h5><a href="/login/new/post">{{ 'New post'|_ }}</a></h5>
                <p>นอกเหนือจากงานเขียนที่ต้องส่งเขตแล้ว ท่านยังสามารถช่วยเหลือชุมชน ด้วยการเขียนบทความหรืออื่นๆ แสดงบนหน้าเว็บแก่คนรุ่นหลังต่อไป</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="services">
            <div class="service-item">
              <i class="fa fa-cloud"></i>
              <div class="service-desc">
                <h5><a href="/cloud">{{ 'Homeschooler cloud'|_ }}</a></h5>
                <p>มีใครทำบ้านเรียนในพื้นที่บ้าง เชื่อว่าเป็นคำถามแรกๆ ในใจหลังจากที่คิดจะทำโฮมสคูล ไปค้นหาเพื่อนบ้านโฮมสคูลในพื้นที่ของคุณกันเลย</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="services">
            <div class="service-item">
              <i class="fa fa-question-circle-o"></i>
              <div class="service-desc">
                <h5><a href="/blog/59">{{ 'FAQ'|_ }}</a></h5>
                <p>คำถามที่พบบ่อย ที่ได้รับการรวบรวมจากสมาชิกหลายท่านจากหลายแหล่ง เช่น เริ่มต้นโฮมสคูลทำอย่างไร บ้านต้องรวยหรือเปล่า เป็นต้น</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% partial "ads/bottom" %}
  <div class="row our-team">
    <div class="col-sm-8">
      <h4 class="headline"><span>{{ 'Our team'|_ }}</span></h4>
      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <div class="team-member text-center">
            <img class="img-responsive center-block" src="https://graph.facebook.com/528931910/picture?type=normal" alt="" style="cursor:pointer; border-radius: 200px;" onClick="window.location.href = '/user/profile/2';">
            <div class="info">
              Unnop Sricharoenchai
              <p class="text-muted">Administrator & Programmer</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="team-member text-center">
            <img class="img-responsive center-block" src="https://graph.facebook.com/100000122460462/picture?type=normal" alt="" style="cursor:pointer; border-radius: 200px;" onClick="window.location.href = '/user/profile/12';">
            <div class="info">
              Patai Wonganutrohd
              <p class="text-muted">Administrator & Writer</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="team-member text-center">
            <img class="img-responsive center-block" src="https://graph.facebook.com/100001891270373/picture?type=normal" alt="" style="cursor:pointer; border-radius: 200px;" onClick="window.location.href = '/user/profile/10';">
            <div class="info">
              Joompot Sriyapan
              <p class="text-muted">Writer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">

      <h4 class="headline"><span>Find Us on Facebook</span></h4>
      <div class="fb-page"
        data-href="https://www.facebook.com/HomeschoolNetwork"
        data-hide-cover="false"
        data-show-facepile="true"
        data-adapt-container-width="true"></div>
    </div>
  </div>
  <!--<div class="recent-tweets">
    <h4 class="headline"><span>Recent tweets</span></h4>
    <div class="tweet">
        <i class="fa fa-twitter"></i>
        <p>
            Salami turkey jowl rump jerky ball tip drumstick ground round tenderloin kielbasa hamburger prosciutto.
            <a href="#">1 day ago</a>
        </p>
    </div>
    <div class="tweet">
        <i cl#recent tweet
    ass="fa fa-twitter"></i>
        <p>
            Short loin pork belly beef, tenderloin swine ribeye tri-tip doner salami rump hamburger.
            <a href="#">2 days ago</a>
        </p>
    </div>
    </div>-->
</div>
<br />
