title = "Home"
url = "/"
layout = "default"
is_hidden = 0

[viewBag]

[sociallogin]

[account]
redirect = "login"
paramCode = "code"
forceSecure = 0
==
<section class="home-title">
  <div class="container">
      <div class="row">
          <div class="col-sm-4">
              <h3>เครือข่ายบ้านเรียน</h3>
              Homeschool Network หรือ "เครือข่ายบ้านเรียน" เข้าใจการทำโฮมสคูลในประเทศไทยจบที่นี่ที่เดียว
              <div class="signup-form">
                {% if not user %}
                <form data-request="onSignin">
                  <div class="form-group">
                      <label for="userSigninLogin">{{ loginAttributeLabel }}</label>
                      <input
                          name="login"
                          type="text"
                          class="form-control"
                          id="userSigninLogin"
                          placeholder="Enter your {{ loginAttributeLabel|lower }}" />
                  </div>

                  <div class="form-group">
                      <label for="userSigninPassword">Password</label>
                      <input
                          name="password"
                          type="password"
                          class="form-control"
                          id="userSigninPassword"
                          placeholder="Enter your password" />
                  </div>

                  <button type="submit" class="btn btn-block btn-default">Sign in</button>
                  {% for name, link in social_login_links %}
                    <a href="{{ link }}">{{ name }}</a>
                  {% endfor %}
                  {% component 'sociallogin' %}
                </form>
                {% else %}
                  <a href="/login/profile">{{ 'My profile'|_ }}</a><br>
                  <a href="/login/new/course">{{ 'New course'|_ }}</a><br>
                  <a href="/login/new/evaluation">{{ 'New evaluate'|_ }}</a><br>
                  <a href="javascript:void(0);" data-request="onLogout" data-request-data="redirect: '/'">{{ 'Sign out'|_ }}</a>
                {% endif %}
              </div>
              <!--<div class="additional-links">
                  By signing up you agree to <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>
              </div>-->
          </div>
          <div class="col-sm-7 col-sm-offset-1 player-wrapper">
              <div class="player">
                  <iframe width="560" height="316" src="https://www.youtube.com/embed/_VluJjS3IfQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
          </div>
      </div>
  </div>
	<br>
</section>

<section class="google-ads">
	<div class="container">ADS
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- Homeschool Network Index Top 
		<ins class="adsbygoogle"
		 style="display:block"
		 data-ad-client="ca-pub-9939363335105757"
		 data-ad-slot="3572354287"
		 data-ad-format="auto"
		 data-full-width-responsive="true"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>-->
	</div>
</section>

<br />

<div class="container">

    <!-- Services -->
    <div class="row our-services">
        <div class="col-sm-12">
            <h4 class="headline"><span>What we do</span></h4>
            <p>He hasn't got a freckle my mad as a middy. Trent from punchy maccas no dramas shazza got us some ripper. As dry as a bradman flamin lets throw a cut lunch commando.</p>

            {% partial 'services' %}
        </div>
    </div>

    <div class="recent-tweets">
        <h4 class="headline"><span>Recent tweets</span></h4>
        <div class="tweet">
            <i class="fa fa-twitter"></i>
            <p>
                Salami turkey jowl rump jerky ball tip drumstick ground round tenderloin kielbasa hamburger prosciutto.
                <a href="#">1 day ago</a>
            </p>
        </div>
        <div class="tweet">
            <i class="fa fa-twitter"></i>
            <p>
                Short loin pork belly beef, tenderloin swine ribeye tri-tip doner salami rump hamburger.
                <a href="#">2 days ago</a>
            </p>
        </div>
    </div>

</div>

<br />