title = "Home"
url = "/"
layout = "default"
meta_title = "เครือข่ายบ้านเรียน"
meta_description = "\"เครือข่ายบ้านเรียน\" เว็บกลางสำหรับสมาชิกบ้านเรียนหรือโฮมสคูลในเมืองไทย สามารถติดต่อ แลกเปลี่ยน หาความรู้ในการทำโฮมสคูล โดยสมาชิกจะสามารถ ค้นฐานข้อมูลสมาชิกบ้านเรียน, เขียนแผนการศึกษาออนไลน์, เขียนแบบประเมินและร่องรอยการเรียนรู้และสามารถร่วมเขียนเนื้อหาหรือบันทึกใดๆ ที่ต้องการแชร์ให้กับสมาชิกบ้านเรียนท่านอื่นๆ หรือบุคคลที่สนใจได้เข้ามาศึกษา เพื่อทำความรู้จักและสร้างกลุ่มบ้านเรียนให้ใหญ่ขึ้นได้ต่อไป"
is_hidden = 0
seo_keywords = "บ้านเรียน, โฮมสคูล"
robot_index = "index"
robot_follow = "follow"

[viewBag]
localeMeta_title[en] = "Homeschool Network"

[sociallogin]

[account]
redirect = "home"
paramCode = "code"
forceSecure = 0

[courses]
results = 3
byUserID = 0
sortOrder = "created_at"

[evaluations]
results = 3
byUserID = 0
sortOrder = "created_at"

[PostForm]
use_authors = 1
restrict_owner = 1
backUser = 1
allowpublish = 1
show_excerpt = 0
allow_images = 1
slug = "{{ :slug }}"
listPage = "blog/blog"
postPage = "blog/post"

[topPosts]
period = 5
category = 0
postPerPage = 4
postPage = "blog/post"
slug = "{{ :slug }}"
==
{%  set student_evaluations = evaluations.student_evaluations %}
{%  set courses = courses.courses %}
{%  set student_courses = evaluations.student_courses %}
{%  set evaluations = evaluations.evaluations %}
<section class="home-title">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-5 home-login">
        <div class="signup - form">
          {% if not user %}
          <h4>
            <span>{{ 'Login'|_ }}</span>
          </h4> 
          <form data-request="onSignin">
            <div class="form-group">
              <label for="userSigninLogin">{{ loginAttributeLabel }}</label>
              <input
                name="login"
                type="text"
                class="form-control"
                id="userSigninLogin"
                placeholder="Enter your {{ loginAttributeLabel|lower }}" />

              <label for="userSigninPassword">Password</label>
              <input
                name="password"
                type="password"
                class="form-control"
                id="userSigninPassword"
                placeholder="Enter your password" />
            </div>
            <div class="row">
              <div class="col-sm-6">
                <button type="submit" style="width:100%;" class="btn btn-default">{{ 'Sign in'|_ }}</button>
              </div>
              <div class="col-sm-2 col-xs-4" align="center" style="margin-top: 5px;">
                <a href="/flynsarmy/sociallogin/Facebook"><img src="{{ 'assets/images/facebook.png'|theme }}" width="100%"></a>
              </div>
              <div class="col-sm-2 col-xs-4" align="center" style="margin-top: 5px;">
                <a href="/flynsarmy/sociallogin/Google"><img src="{{ 'assets/images/googleplus.png'|theme }}" width="100%"></a>
              </div>
              <div class="col-sm-2 col-xs-4" align="center" style="margin-top: 5px;">
                <a href="/flynsarmy/sociallogin/Twitter"><img src="{{ 'assets/images/twitter.png'|theme }}" width="100%"></a>
              </div>
            </div>
          </form>
          <div class="col-sm-12" style="padding-top:5px;text-align: right;">
            {{ 'No account ?'|_ }} <a href="/login">{{ 'Register'|_ }}</a>
          </div>
          {% else %}
            {% partial 'login/whats-on'  %}
            <div class="col-sm-12" style="padding-top:5px;text-align: right;">
              {{ 'What\'s on note'|_ }} <a href="/add/evaluation">{{ 'New evaluation'|_ }}</a>
            </div>          {% endif %}
          <div class="col-sm-12" align="right">
            <a href="/blog/how-to-use"><i class="fa fa-question-circle-o"></i> {{ 'How to use'|_ }}</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-7">
        <a href="/blog/changelog" class="btn btn-block btn-lg btn-info">{{ 'Annoucement Note' }}</a>
        {% partial 'slide' %}
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="row our-services">
    <div class="col-sm-5">
      <h4><span><a href="/blog/how-to-use">{{ 'What we do'|_ }}</a></span></h4>
      <p>"เครือข่ายบ้านเรียน" เว็บกลางสำหรับสมาชิกบ้านเรียนหรือโฮมสคูลในเมืองไทย สามารถติดต่อ แลกเปลี่ยน หาความรู้ในการทำโฮมสคูล โดยสมาชิกจะสามารถ ค้นฐานข้อมูลสมาชิกบ้านเรียน, เขียนแผนการศึกษาออนไลน์, เขียนแบบประเมินและร่องรอยการเรียนรู้และสามารถร่วมเขียนเนื้อหาหรือบันทึกใดๆ อ่านเพิ่มเติม <a href="/blog/about">เกี่ยวกับเรา</a></p>
    </div>
    <div class="col-sm-7">
      {% set mostVisitedPosts = topPosts.mostVisitedPosts %}
      <div class="popular-post">
        <h4><span><a href="/blog/top-posts">{{ 'Top Publications'|_ }}</a></span></h4>
        {% for post in mostVisitedPosts %}
          <div class="post-content" style="margin-bottom:10px;">
            {% partial 'user/avatar' id=post.author_id facebookID=post.author.facebook_id style='avatar-sm' redirect=1 %}
            <a href="{{post.url}}">{{post.title}}</a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% partial 'ads/central' id='Leaderboard in Content 1st' %}
  <!-- Services -->
  <div class="row our-services" style="margin-top:10px;">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div class="services">
            <div class="service-item">
              <i class="fa fa-vcard"></i>
              <div class="service-desc">
                <h5><a href="/blog/tutorial-1">{{ 'User profile'|_ }}</a></h5>
                <p>อย่าลืมกดเข้าไปอัพเดทข้อมูลเกี่ยวกับบ้านเรียนของคุณ เพื่อสร้างเครือข่ายให้ใหญ่ขึ้น และเป็นที่รู้จัก ไม่ต้องทนเหงาอีกต่อไป</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="services">
            <div class="service-item">
              <i class="fa fa-book"></i>
              <div class="service-desc">
                <h5><a href="/add/course">{{ 'New course'|_ }}</a></h5>
                <p>หากคุณประสบปัญหาในการเขียนรายงาน, ออกแบบการเรียนการสอนและการจัดเรียงเอกสาร
                  ด้านในจะมีตัวอย่างการเขียนแผนแบบสำเร็จรูปให้เลือกใช้งาน
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="services">
            <div class="service-item">
              <i class="fa fa-clipboard"></i>
              <div class="service-desc">
                <h5><a href="/add/evaluation">{{ 'New evaluation'|_ }}</a></h5>
                <p>ทุกปี จะมีเทศกาลปั่นรายงาน ส่วนนี้จะเป็นส่วนของการทำรายงานประเมินผล ท่านสามารถอัพเดทร่องรอยการเรียนรู้ของนักเรียนได้เรื่อยๆ ตลอดปี </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div class="services">
            <div class="service-item">
              <i class="fa fui-new"></i>
              <div class="service-desc">
                <h5><a href="/add/portfolio">{{ 'New portfolio'|_ }}</a></h5>
                <p>เก็บร่องรอยการเรียนรู้ง่ายๆ เพียงแค่เขียนบล็อกเข้าร่วมเว็บไซต์ หลังจากนั้นเราจะปั่นออกมาให้เป็นรายงานเอง</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="services">
            <div class="service-item">
              <i class="fa fa-cloud"></i>
              <div class="service-desc">
                <h5><a href="/cloud">{{ 'Homeschooler cloud'|_ }}</a></h5>
                <p>มีใครทำบ้านเรียนในพื้นที่บ้าง เชื่อว่าเป็นคำถามแรกๆ ในใจหลังจากที่คิดจะทำโฮมสคูล ไปค้นหาเพื่อนบ้านโฮมสคูลในพื้นที่ของคุณกันเลย</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="services">
            <div class="service-item">
              <i class="fa fa-question-circle-o"></i>
              <div class="service-desc">
                <h5><a href="/blog/59">{{ 'FAQ'|_ }}</a></h5>
                <p>คำถามที่พบบ่อย ที่ได้รับการรวบรวมจากสมาชิกหลายท่านจากหลายแหล่ง เช่น เริ่มต้นโฮมสคูลทำอย่างไร บ้านต้องรวยหรือเปล่า เป็นต้น</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row our-team">
    <div class="col-sm-8">
      <h4><span>{{ 'Our team'|_ }}</span></h4>
      <div class="row">
        <div class="col-sm-3 col-xs-12">
          <div class="team-member text-center">
            {% partial 'user/avatar' id=user.id facebookID=user.facebook_id style='img-responsive center-block avatar-responsive' redirect=1 %}
            <div class="info" style="font-size:17px;">
              Unnop Sricharoenchai
              <p class="text-muted">Administrator</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="team-member text-center">
            <img class="img-responsive center-block avatar-responsive" src="https://graph.facebook.com/100001891270373/picture?type=normal" onClick="window.location.href = '/u/10';">
            <div class="info" style="font-size:17px;">
              Joompot Sriyapan
              <p class="text-muted">Administrator</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="team-member text-center">
            <!--<img class="img-responsive center-block avatar-responsive" src="https://graph.facebook.com/100000122460462/picture?type=normal" onClick="window.location.href = '/u/12';">
            <div class="info" style="font-size:17px;">
              Patai Wonganutrohd
              <p class="text-muted">Editor & Writer</p>
            </div>-->
          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="team-member text-center">
            <!--<img class="img-responsive center-block avatar-responsive" src="https://graph.facebook.com/100001719473463/picture?type=normal" onClick="window.location.href = '/u/3';">
            <div class="info" style="font-size:17px;">
              Tita Yossopon
              <p class="text-muted">Editor</p>
            </div>-->
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <h4><span>Find Us on Facebook</span></h4>
      <div class="fb-page"
        data-href="https://www.facebook.com/HomeschoolNetwork"
        data-hide-cover="false"
        data-show-facepile="true"
        data-adapt-container-width="true"></div>
    </div>
  </div>
  <!--<div class="recent-tweets">
    <h4><span>Recent tweets</span></h4>
    <div class="tweet">
        <i class="fa fa-twitter"></i>
        <p>
            Salami turkey jowl rump jerky ball tip drumstick ground round tenderloin kielbasa hamburger prosciutto.
            <a href="#">1 day ago</a>
        </p>
    </div>
    <div class="tweet">
        <i cl#recent tweet
    ass="fa fa-twitter"></i>
        <p>
            Short loin pork belly beef, tenderloin swine ribeye tri-tip doner salami rump hamburger.
            <a href="#">2 days ago</a>
        </p>
    </div>
    </div>-->
</div>
<br />