title = "Product"
url = "/product/:slug"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[CategoryPage]
slug = "{{ :category }}"
slug_required = 0
smart_url_check = 0

[CategoryPage MainCategoryPage]
slug = "{{ :main_category }}"
slug_required = 0
smart_url_check = 0

[ProductPage]
slug = "{{ :slug }}"
slug_required = 1
smart_url_check = 0

[ssbuttonsssb]
js = 0
facebook = 1
twitter = 1
google+ = 1
tumblr = 1
pinterest = 1
pocket = 0
reddit = 0
linkedin = 0
wordpress = 0
pinboard = 0
email = 1
order_facebook = 1
order_twitter = 2
order_google+ = 3
order_tumblr = 4
order_pinterest = 5
order_pocket = 6
order_reddit = 7
order_linkedin = 8
order_wordpress = 9
order_pinboard = 10
order_email = 11
theme = "social_flat_rounded_rects_svg"
==
<?php
function onEnd() {
  $obProduct = $this->components['ProductPage']->get();
  $this->page->og_image = $obProduct->images[0]->path;
  $this->page->custom_title = $obProduct->name;
  $this->page->custom_og_title = $obProduct->name;
}
?>
==
{% set obProduct = ProductPage.get() %}
{% set obMainCategory = MainCategoryPage.get() %}
{% set obCategory = CategoryPage.get() %}
{% set obOfferFirst = obProduct.offer.first() %}
{% set obOfferList = obProduct.offer.all() %}
{% put meta %}
<meta property="og:title" content="{{ obProduct.name }}" />
{% endput %}
{% put styles %}
  <link href="{{ [
      'assets/vendor/slick/slick.css',
  ]|theme }}" rel="stylesheet">
{% endput %}
{% put scripts %}
  <script src="{{ [
      'assets/vendor/slick/slick.js',
  ]|theme }}"></script>
  <script>
      $(document).ready(function() {
          $('#shopImages').slick({
              dots: true,
              infinite: true,
              speed: 500,
              fade: true,
              cssEase: 'linear',
              slidesToShow: 1,
              autoplay: true,
              autoplaySpeed: 2000,
              pauseOnHover: true,
              arrows: false,
              mouseDrag: false,
              touchDrag : true
          });
      })
  </script>
  <script src="{{ [
    'assets/js/shop/button-add-to-cart.js',
    ]|theme }}"></script>
{% endput %}

<section id="layout-title">
  <div class="container">
    <h3>{{ obProduct.name }}</h3>
  </div>
</section>
<div class="container shop-item" data-id="{{ obProduct.id }}">
    <div class="row">
        <div class="col-sm-9">
          <div class="row">
            <div class="col-sm-6">
              <div id="shopImages">
                {% if obProduct.images is not empty %}
                  {% for obImage in obProduct.images %}
                    <div>
                      <img src="{{ obImage.path }}" title="{{ obImage.title }}" alt="{{ obImage.description }}"  class="d-block w-100 h-100 product-detailed__carousel-item-img img-responsive">
                    </div>
                  {% endfor %}
                {% else %}
                  <div class="carousel-item product-detailed__carousel-item active h-100">
                    <img class="d-block w-100 h-100 product-detailed__carousel-item-img" src="{{ 'assets/images/no-image.png'|theme }}">
                  </div>
                {% endif %}
              </div>

            </div>
            <div class="col-sm-6">
              <p class="text-muted">{{ obProduct.description|raw}}</p>
              <span>Category: {{ obProduct.category.name }}</span><br>

              <form>
                <div>
                  <div class="price-block">
                    <span class="price"><span id="offer_price">{{ obOfferFirst.price }}</span> THB x</span>
                    <input type="number" name="quantity" value="1" class="form-control" min="1" max="{{obOffer.quantity}}" maxlength="2">
                  </div>
                </div>
                <input type="hidden" name="offer_id" id="offer_id" value="">
                {% for obOffer in obOfferList %}
                  <input type="radio" name="ooo" value="{{ obOffer.id }}" onclick="document.getElementById('addtocart').disabled = false; document.getElementById('offer_id').value='{{ obOffer.id }}'; document.getElementById('offer_price').innerHTML='{{ obOffer.price }}';"  data-ajax="updateOfferPrice">
                  {{ obOffer.name }}
                {% endfor %}
                <br><br>
                <button class="btn btn-lg btn-add-to-cart btn-info" type="button" id="addtocart" data-placement="top" disabled>
                  <i class="fa fa-shopping-cart"></i> {{ 'Add to cart'|_ }}
                </button>
                <a href="/cart" class="btn btn-lg btn-default" id="btn-go-to-cart" style="display:none;"><i class="fa fa-shopping-cart"></i> {{ 'Go to Cart'|_ }}</a>
              </form>
              <p>{% component 'ssbuttonsssb' %}</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          {# partial 'shop/sidebar' #}
        </div>
    </div>
</div>
