title = "Shop"
url = "/shop"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[ProductList]
sorting = "no"

[CategoryList]

[CategoryData]
==
<section id="layout-title">
    <div class="container">
        <h3>Shop</h3>
    </div>
</section>

<div class="container">
  <div class="row">
  {% set obCategoryList = CategoryList.make().tree() %}
  {% if obCategoryList.isNotEmpty() %}
      <ul class="category-menu-wrapper">
          {% for obCategory in obCategoryList if obCategory.product_count > 0 %}
              <li data-id="{{ obCategory.id }}"><a href="/catalog/{{obCategory.slug}}">{{ obCategory.name }}</a>
                  {% if obCategory.children.isNotEmpty() %}
                      <ul class="category-child-menu-wrapper">
                          {% for obChildCategory in obCategory.children if obChildCategory.product_count > 0 %}
                              <li><a>{{ obChildCategory.name }}</a></li>
                          {% endfor %}
                      </ul>
                  {% endif %}
              </li>
          {% endfor %}
      </ul>
  {% endif %}
  </div>
</div>