[blogTags]
results = 10
orderBy = 0
direction = "desc"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 1
categoryPage = "blog/category"
==
<!-- Search -->
<form role="form">
    <div class="well">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search posts...">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
</form>
<!-- Categories -->
<div class="panel panel-default">
  <div class="panel-heading">
      {{ 'Categories'|_ }}
  </div>
  <ul class="list-group">
  {% for category in categories %}
    {% set postCount = category.post_count %}
    <li class="list-group-item" {% if category.slug == currentCategorySlug %}class="active"{% endif %}>
        <a href="{{ category.url }}">{{ category.name }}</a>
        {% if postCount %}
            <span class="badge">{{ postCount }}</span>
        {% endif %}

        {% if category.children|length > 0 %}
            <ul>
                {% partial __SELF__ ~ "::items"
                    categories=category.children
                    currentCategorySlug=currentCategorySlug
                %}
            </ul>
        {% endif %}
    </li>
  {% endfor %}
  </ul>
</div>
<!-- Tags -->
<div class="panel panel-default">
  <div class="panel-heading">
      {{ 'Tags'|_ }}
  </div>
  <ul class="list-group">
    {% for tag in blogTags.tags %}
      <li class="list-group-item"><a href="/blog/tagged/{{ tag.id }}">{{ tag.name }} ({{ tag.posts|length }})</a></li>
    {% endfor %}
  </ul>
</div>
