[viewBag]

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 1
categoryPage = "blog/category"

[tagList]
orderBy = "random"
limit = 10
enableTagFilter = "never"
tagPage = 404
tagsPage = 404
==
<!-- Search -->
<form role="form">
    <div class="well">
        <div class="input-group">
          <div class="search">
        		<script>
        			(function() {
        				var cx = 'partner-pub-9939363335105757:1261107394';
        				var gcse = document.createElement('script');
        				gcse.type = 'text/javascript';
        				gcse.async = true;
        				gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
        				var s = document.getElementsByTagName('script')[0];
        				s.parentNode.insertBefore(gcse, s);
        			})();
        		</script>
        		<gcse:searchbox-only></gcse:searchbox-only>
        	</div>
        </div>
    </div>
</form>
<!-- Categories -->
<div class="panel panel-default">
  <div class="panel-heading">
      {{ 'Categories'|_ }}
  </div>
  <ul class="list-group">
  {% for category in categories %}
    {% set postCount = category.post_count %}
    <li class="list-group-item" {% if category.slug == currentCategorySlug %}class="active"{% endif %}>
        <a href="{{ category.url }}">{{ category.name }}</a>
        {% if postCount %}
            <span class="badge">{{ postCount }}</span>
        {% endif %}

        {% if category.children|length > 0 %}
          <ul>
              {% partial __SELF__ ~ "::items"
                  categories=category.children
                  currentCategorySlug=currentCategorySlug
              %}
          </ul>
        {% endif %}
    </li>
  {% endfor %}
  </ul>
</div>
{% partial 'ads/link' %}


<!-- Tags -->
<div class="panel panel-default">
  <div class="panel-heading">
      {{ 'Tags'|_ }}
  </div>
  <ul class="list-group">
    {% for tag in tagList.tags %}
      <li class="list-group-item"><a href="/blog/tagged/{{ tag.id }}">{{ tag.name }} ({{ tag.posts|length }})</a></li>
    {% endfor %}
  </ul>
</div>


<!-- External -->
<div class="panel panel-default">
  <div class="panel-heading">
      {{ 'External'|_ }}
  </div>
  <ul class="list-group">
    <li class="list-group-item"><a href="https://homeschoolthailand.wordpress.com/">ภาคีเครือข่ายบ้านเรียนไทย</a></li>
  </ul>
</div>

{% partial 'ads/side' %}