title = "Posts by author"
url = "/blog/author/:author"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[builderDetails]
modelClass = "RainLab\User\Models\User"
identifierValue = "{{ :author }}"
modelKeyColumn = "id"
displayColumn = "name"
notFoundMessage = "Record not found"

[scopePosts]
pageNumber = "{{ :page }}"
postsPerPage = 300
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"
backend = 0
userID = "{{ :author }}"
featured = 0
drafted = 0
from = "0000-00-00"
to = "0000-00-00"
evaluationID = 0
ownerID = 0
==
<?php
function onRender() {
   $from = $this->property('from');  // 55
   $to = $this->property('to'); // Johan
}
?>
==
<section id="layout-title">
    <div class="container">
        <h3><a href="/u/{{record.id}}"><img src="{% if record.facebook_id|length <= 17 and record.facebook_id != 0 %} https://graph.facebook.com/{{ record.facebook_id }}/picture?type=normal {% else %} {{ 'assets/images/team/anonymous.jpg'|theme }} {% endif %}" title="{{ record.name }}" class="avatar"></a> {{ 'Posts by author'|_ }} : {% component 'builderDetails' %} {{ record.surname }}</h3>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-9">
          {% partial 'ads/top' %}
          {% set posts = scopePosts.posts %}

<ul class="post-list">
    {% for post in posts %}
        <li>
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>

            <p class="info">
                Posted
                {% if post.categories.count %} in {% endif %}
                {% for category in post.categories %}
                    <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
                on {{ post.published_at|date('M d, Y') }}
            </p>
        </li>
    {% else %}
        <li class="no-data">{{ scopePosts.noPostsMessage }}</li>
    {% endfor %}
</ul>

{% if posts.lastPage > 1 %}
    <ul class="pagination">
        {% if posts.currentPage > 1 %}
            <li><a href="{{ this.page.baseFileName|page({ (scopePosts.pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
        {% endif %}

        {% for page in 1..posts.lastPage %}
            <li class="{{ posts.currentPage == page ? 'active' : null }}">
                <a href="{{ this.page.baseFileName|page({ (scopePosts.pageParam): page }) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if posts.lastPage > posts.currentPage %}
            <li><a href="{{ this.page.baseFileName|page({ (scopePosts.pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endif %}

        </div>
        <div class="col-sm-12 col-md-3">
          {% partial 'blog/sidebar' %}
        </div>
    </div>
</div>