title = "Blog"
url = "/blog/page/:page"
layout = "default"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"
==
<section id="layout-title">
    <div class="container">
        <h3>Blog</h3>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-sm-9">
          {% set posts = blogPosts.posts %}
          {% for post in posts %}
            <!-- Blog Post -->
            <div class="blog">
              <img src="{% if post.author.facebook %} https://graph.facebook.com/{{ post.author.facebook }}/picture?type=normal {% else %} {{ 'assets/images/team/anonymous.jpg'|theme }} {% endif %}" alt="{{ post.author.name }}" style="cursor:pointer;" onClick="window.location.href = '{% if post.author.facebook %} https://fb.com/{{ post.author.facebook }} {% endif %}';">
              <div class="blog-desc">
                <h5><a href="{{ post.url }}">{{ post.title }}</a> {% if post.author.id == user.id %} <a href="/login/edit/post/{{ post.slug }}">{{ 'Edit'|_ }}</a> {% endif %}</h5>
                <hr>
                <p class="text-muted">by {{ post.author.name }} on {{ post.published_at|date('M d, Y') }}</p>
                <a href="{{ post.url }}"><img class="img-responsive" src="{{ post.featured_images[0].path }}" alt=""></a>
                <p class="excerpt">{{ post.summary|raw }}</p>
                <p class="info">
                  Posted
                  {% if post.categories.count %} in {% endif %}
                  {% for category in post.categories %}
                      <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                  {% endfor %}
                </p>
                <a class="btn btn-lg btn-default" href="{{ post.url }}">{{ 'Read More'|_}} ...</a>
              </div>
            </div>
          {% endfor %}
          <!--<ul class="post-list">
            {% for post in posts %}
                <li>
                    <h5><a href="{{ post.url }}">{{ post.title }}</a></h5>

                    <p class="info">
                        Posted
                        {% if post.categories.count %} in {% endif %}
                        {% for category in post.categories %}
                            <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                        on {{ post.published_at|date('M d, Y') }}
                    </p>

                    <p class="excerpt">{{ post.summary|raw }}</p>
                </li>
            {% else %}
                <li class="no-data">{{ blogPosts.noPostsMessage }}</li>
            {% endfor %}
          </ul>-->

          {% if posts.lastPage > 1 %}
          <ul class="pagination">
              {% if posts.currentPage > 1 %}
                  <li><a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
              {% endif %}

              {% for page in 1..posts.lastPage %}
                  <li class="{{ posts.currentPage == page ? 'active' : null }}">
                      <a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): page }) }}">{{ page }}</a>
                  </li>
              {% endfor %}

              {% if posts.lastPage > posts.currentPage %}
                  <li><a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
              {% endif %}
          </ul>
          {% endif %}

        </div>
        <div class="col-sm-3">
          {% partial 'blog/sidebar' %}
        </div>
    </div>
</div>
