title = "Category"
url = "/blog/category/:slug/:page?"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[viewBag]

[RainLab\Blog\Components\Posts blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :slug }}"
postsPerPage = 20
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"
==
<?php
function onEnd() {
  $this->page->custom_title = $this->blogPosts->category->name;
  $this->page->custom_description = strip_tags($this->blogPosts->category->description);
}
?>
==
{% set posts = blogPosts.posts %}
<section id="layout-title">
    <div class="container">
        <h3>{{ blogPosts.category.name }}</h3>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-9">
          {% set i = 0 %}
          {% for post in posts %}
          <!-- Blog Post -->
            <h6><img src="{% if post.author.facebook_id|length <= 17 and post.author.facebook_id != 0  %} https://graph.facebook.com/{{ post.author.facebook_id }}/picture?type=normal {% else %} {{ 'assets/images/team/anonymous.jpg'|theme }} {% endif %}" class="avatar-sm" onClick="window.location.href = '/u/{{post.author_id}}';">
            <a href="{{ post.url }}">{{ post.title }}</a> {% if post.author.id == user.id %} <a href="/edit/post/{{ post.slug }}">{{ 'Edit'|_ }}</a> {% endif %} <span class="text-muted">{{ 'by'|_ }} <a href="/u/{{post.author_id}}">{{ post.author.name }}</a> {{ 'on'|_ }} {{ post.updated_at|date('M d, Y') }}</span></h6>
            <p class="excerpt">
              {% if post.excerpt %}
                <blockquote>
                  {{ post.excerpt|raw }}
                </blockquote>
              {% else %}
              {% endif %}
            </p>
              <!--<p class="excerpt">{{ post.summary|raw }}</p>
              <a href="{{ post.url }}"><img class="img-responsive" src="{{ post.featured_images[0].path }}" alt=""></a>
              <p class="info">
                Posted
                {% if post.categories.count %} in {% endif %}
                {% for category in post.categories %}
                    <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
              </p>
              <a class="btn btn-lg btn-default" href="{{ post.url }}">{{ 'Read More'|_}} ...</a>-->
            <!--{% set i = i + 1 %}
            {% if i == 2 or i == 7 or i == 15 %}-->
            {% partial 'ads/new-in-feed' %}
            <!--{% endif %}-->
          {% endfor %}
          <br>
          {% if posts.lastPage > 1 %}
          <ul class="pagination">
              {% if posts.currentPage > 1 %}
                  <li><a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
              {% endif %}

              {% for page in 1..posts.lastPage %}
                  <li class="{{ posts.currentPage == page ? 'active' : null }}">
                      <a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): page }) }}">{{ page }}</a>
                  </li>
              {% endfor %}

              {% if posts.lastPage > posts.currentPage %}
                  <li><a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
              {% endif %}
          </ul>
          {% endif %}
        </div>
        <div class="col-sm-12 col-md-3">
          {% partial 'blog/sidebar' %}
        </div>
    </div>
</div>