title = "Post"
url = "/blog/:slug"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blog/category"

[blogRelated]
slug = "{{ :slug }}"
results = 5
direction = "desc"
postPage = "blog/post"

[SeoBlogPost]
post = "post"

[account]
paramCode = "code"
forceSecure = 0
==
<?php
  public function onEnd() {
    use October\Rain\Auth\Models\User as User;
    $this->page->meta_title = $this->post->title;
    empty($this->post->excerpt) ? $description = substr(strip_tags($this->post->content), 0, 260) : $description = $this->post->excerpt;
    $this->post->seo_description = $this->page->meta_description = $description;
    //og:image

  }
?>
==
{% component 'SeoBlogPost' data=post %}
{% put meta %}
<meta property="og:image" content="{{ post.featured_images[0].path }}" />
{% endput %}

{% set post = blogPost.post %}
<section id="layout-title">
  <div class="container">
      <h3>{{ 'Blog post'|_ }}</h3>
  </div>
</section>
<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <!-- Blog Post #1 -->
      <div class="blog">
        <img src="{% if post.author.facebook_id %} https://graph.facebook.com/{{ post.author.facebook_id }}/picture?type=normal {% else %} {{ 'assets/images/team/anonymous.jpg'|theme }} {% endif %}" alt="{{ post.author.name }}" style="cursor:pointer;" onClick="window.location.href = '/user/profile/{{post.author_id}}';">
        <div class="blog-desc">
          <h5>{{ post.title|raw }}
            {% if post.author.id == user.id %}
              <a href="/login/edit/post/{{ post.slug }}"> {{ 'Edit'|_ }}</a>
            {% endif %}
            {% if can('edit_course_template') %}
              | <a href="/backend/rainlab/blog/posts/update/{{ post.id }}"> {{ 'Advance edit'|_ }}</a>
            {% endif %}
          </h5>
          <hr />
          <p class="text-muted">by {{ post.author.name }} on {{ post.published_at|date('M d, Y') }}</p>
          {% if post.featured_images.count %}
          <div class="featured-images text-center">
            {% for image in post.featured_images %}
            <p>
              <img
                data-src="{{ image.filename }}"
                src="{{ image.path }}"
                alt="{{ image.description }}"
                style="max-width: 100%" />
            </p>
            {% endfor %}
          </div>
          {% endif %}
          {{ post.excerpt|raw }}
          {% partial "ads/in-article" %}
          {{ post.content_html|raw }}
          <p class="info">
              Posted
              {% if post.categories.count %} in
                  {% for category in post.categories %}
                      <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                  {% endfor %}
              {% endif %}
          </p>
          <h4>{{ 'Related posts'|_ }}</h4>
          {% partial 'ads/matched-content' %}
          <ul>
            {% for Post in blogRelated.posts %}
                <a href="{{Post.url}}"><li>{{ Post.title }}</li></a>
            {% endfor %}
          </ul>
        </div>
      </div>
      <!-- Pagination -->
      <ul class="pager pull-right">
        <li class="previous">
          <a href="/blog/{{ post.previousPost.id }}">
          <span class="fui-arrow-left"></span>
          Previous
          </a>
        </li>
        <li class="next">
          <a href="/blog/{{ post.nextPost.id }}">
          Next
          <span class="fui-arrow-right"></span>
          </a>
        </li>
      </ul>
      <div class="clearfix"></div>
      <div id="disqus_thread"></div>
      <script>

      /**
      *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
      *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
      /*
      var disqus_config = function () {
      this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      */
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://homeschool-network.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>

    <div class="col-sm-3">
      {% partial 'blog/sidebar' %}
      {% partial "ads/side" %}
    </div>
  </div>
</div>
