title = "Post"
url = "/blog/:slug"
layout = "default"
meta_title = "Post"
meta_description = "Post description"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blog/category"
postPage = "blog/post"

[SeoBlogPost]
post = "post"

[account]
paramCode = "code"
forceSecure = 0

[ssbuttonsssb]
js = 1
facebook = 1
twitter = 1
google+ = 1
tumblr = 1
pinterest = 0
pocket = 0
reddit = 0
linkedin = 0
wordpress = 0
pinboard = 0
email = 1
order_facebook = 1
order_twitter = 2
order_google+ = 3
order_tumblr = 4
order_pinterest = 5
order_pocket = 6
order_reddit = 7
order_linkedin = 8
order_wordpress = 9
order_pinboard = 10
order_email = 11
theme = "flat_web_icon_set_color"

[related]
slug = "{{ :slug }}"

[registerVisit]

[tagList]
displayEmpty = 1
fetchPosts = 1
orderBy = "name asc"
postSlug = "{{ :slug }}"
includeSeriesTags = 1
fetchSeriesPostCount = 1
limit = 0
enableTagFilter = "never"
tagPage = 404
tagsPage = 404
debugOutput = 0

[relatedPosts]
slug = "{{ :slug }}"
limit = 10
orderBy = "random"
postPage = "blog/post"
==
<?php
function onEnd() {
    if(!is_object($this->post))
      return $this->controller->run('404');

    #$this->page->meta_title = $this->post->title;
    /*$this->post->excerpt == null ? $description = substr(strip_tags($this->post->content), 0, 500) : $description = strip_tags($this->post->excerpt);
    $this->page->og_description = $this->page->meta_description = $description;

    $_post = $this->components['blogPost'];
    if ($_post->featured_images->first()) {
        $this->page->og_image = $_post->featured_images->first()->path;
    }*/
    #dump($this->post->excerpt);

    preg_match('#(\.be/|/embed/|/v/|/watch\?v=)([A-Za-z0-9_-]{5,11})#', $this->post->excerpt.$this->post->content_html, $matches);
    if(isset($matches[2]) && $matches[2] != '')
      $this->page->og_image_url = 'https://img.youtube.com/vi/'.$matches[2].'/hqdefault.jpg';
    else if(count($this->post->featured_images))
      $this->page->og_image = $this->post->featured_images[0]->path;
  }
?>
==
{% set post = blogPost.post %}
{# generated custom tag #}
{% component 'SeoBlogPost' data=post %}
<section id="layout-title">
  <div class="container">
    <h5>
      {% partial 'user/avatar' id=post.author_id facebookID=post.author.facebook_id style='avatar' redirect=1 %} {{ post.title|raw }}
      {% if post.author.id == user.id %}
        <a href="/edit/post/{{ post.slug }}"> {{ 'Edit'|_ }}</a>
      {% endif %}
      {% if can('edit_post') %}
        <a href="/backend/rainlab/blog/posts/update/{{ post.id }}"> {{ 'Advance edit'|_ }}</a>
      {% endif %}
    </h5>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-md-9 col-sm-12">
      <div id="projectImages" class="project-images" align="center">
        {% if post.featured_images.count %}
          <div>
            <div class="image"><img data-src="{{ post.featured_images[0].filename }}"  src="{{ post.featured_images[0].path | resize(0, 600) }}" class="img-responsive" alt="{{ post.featured_images[0].description }}" /></div>
            <div class="caption">{{ post.featured_images[0].title }}</div>
          </div>
          
          {% for image in post.featured_images %}
            {% if loop.index0 > 0 %}
              <div>
                <div class="image"><img data-src="{{ image.filename }}"  src="{{ image.path | resize(0, 600) }}" class="img-responsive" alt="{{ image.description }}" /></div>
                <div class="caption">{{ image.title }}</div>
              </div>
              {% put meta %}
              <meta property="og:image" content="{{ image.path | resize(650, 650) }}" />
              {% endput %}
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
      {% partial 'ads/central' id='Leaderboard in Content 1st' %}
      <!-- Project description -->
      <div class="blog-desc">
        {% if post.excerpt %}
          <blockquote>
            {{ post.excerpt|raw }}
            <footer>{{ post.author.name }} {{ post.author.surname }} {{ 'in'|_ }} <a href="{{ ''| page }}"><cite title="Source Title">{{ ''| page }}</cite></a></footer>
          </blockquote>
        {% else %}
          {{ post.excerpt|raw }}
        {% endif %}
        {{ post.content_html|raw }} 
        {% partial 'ads/matched-content' %}
        <!-- Pagination -->
        <ul class="pager pull-right">
          {% if post.nextPost.slug  %}
            <li class="previous">
              <a href="/blog/{{ post.nextPost.slug }}">
              <span class="fui-arrow-left"></span>
              Previous
              </a>
            </li>
          {% endif %}
          {% if post.previousPost.slug %}
            <li class="next">
              <a href="/blog/{{ post.previousPost.slug }}">
              Next
              <span class="fui-arrow-right"></span>
              </a>
            </li>
          {% endif %}
        </ul>
        <div class="clearfix"></div>
        <!--<div id="disqus_thread"></div>
        <script>

        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

        var disqus_config = function () {
        this.page.url = '{{ ''| page({ filter_slug:slug_var, filter_id:id_var }) }}';  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = {{ post.id }}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };

        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://homeschoolnetwork.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <script id="dsq-count-scr" src="//homeschoolnetwork.disqus.com/count.js" async></script>-->
      </div>
    </div>
    
    <div class="col-md-3 col-sm-12">
      <!-- Search -->
      <div style="width: 100%;">
        <script async src="https://cse.google.com/cse.js?cx=partner-pub-9939363335105757:1261107394"></script>
        <div class="gcse-search"></div>
      </div>
      <br class="clearfix">
      <div>{% component 'ssbuttonsssb' %}</div>
      <!-- Project information -->
      <p class="info">
        <p class="text-muted">by <a href="/u/{{post.author_id}}">{{ post.author.name }}</a> on {{ post.published_at|date('M d, Y') }}</p>
        {{ 'Posted'|_ }}
        {% if post.categories.count %} in
          {% for category in post.categories %}
            <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
          {% endfor %}
        {% endif %}
      </p>
      {% partial 'ads/central' id='Medium Rectangle Sidebar 1st' %}
      <p class="info">
        <h6><a href="/blog/tags">{{ 'Tags'|_ }}</a></h6>
        {% set tags = tagList.tags %}

        {% if tagList.tagFilterEnabled %}
            {% set searchInputId = tagList.alias ~ "-filter" %}
            {% set tagSectionId = tagList.alias ~ "-tags" %}

            <!-- Search form -->
            <div class="md-form mb-3">
                <input id="{{ searchInputId }}" class="form-control" type="text" placeholder="{{ "Search tags"|_ }}" aria-label="Search tags">
            </div>

            {% put scripts %}
                <script type="application/javascript">
                    $(document).ready(function() {
                        $(function() {
                            var $input = $('input#{{ searchInputId }}'),
                                $context = $('div#{{ tagSectionId }}').find("a.list-group-item");
                            $input.on("input", function() {
                                var term = $(this).val();
                                $context.show().unmark();
                                if (term) {
                                    $context.mark(term, {
                                        done: function() {
                                            $context.not(":has(mark)").hide();
                                        }
                                    });
                                }
                            });
                        });
                    });
                </script>
            {% endput %}

            <a href="{{ tagList.tagsPageUrl }}">{{ "ginopane.blogtaxonomy::lang.components.tag_list.all_tags_link" | trans }}</a>
        {% endif %}

        {% if tags | length %}
        <div class="list-group" id="{{ tagSectionId }}">
          {% for item in tags %}
            {% set postCount = item.posts_count %}
            <span class="fa fa-fw" aria-hidden="true" title="Copy to use hashtag">&#xf292
            </span>
              <a href="/blog/tagged/{{ item.slug }}" class="">
              {{ item.name }}
              {% if postCount %}
                <span class="badge">{{ postCount }}</span>
              {% endif %}
              </a><br>
          {% endfor %}
        </div>
        {% else %}
          {{ "ginopane.blogtaxonomy::lang.components.tag_list.no_tags_message" | trans }}
        {% endif %}
      </p>         
      <h6>{{ 'Related posts by category'|_ }}</h6>
      <ul class="related-posts">
        {% for relate in related %}
        {% set image = relate.featured_images.first %}
        <li>
          <span class="fa fa-fw" aria-hidden="true">&#xf040;</span> <a href="{{url('/blog', {'seo': relate.slug})}}" title="{{relate.title}}">
            {{relate.title}}
          </a>
        </li>
        {% endfor %}
      </ul>
      <h6>{{ 'Related posts by tags'|_ }}</h6>
      {% if relatedPosts.posts | length %}
      <ul class="related-posts">
        {% for post in relatedPosts.posts %}
          <li>
            <span class="fa fa-fw" aria-hidden="true">&#xf040;</span><a href="{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
      {% else %}
        {{ "ginopane.blogtaxonomy::lang.components.related_posts.no_posts_message" | trans }}
      {% endif %}
      <br>
      <a href="#" class="btn btn-info btn-lg btn-block">Project page</a>
      <br>
    </div>
  </div>
</div>
{% put styles %}
  <link href="{{ [
    'assets/vendor/slick/slick.css',
  ]|theme }}" rel="stylesheet">
{% endput %}
{% put scripts %}
  <script src="{{ [
    'assets/vendor/slick/slick.js',
  ]|theme }}"></script>
  <script>
    $(document).ready(function() {
      $('#projectImages').slick({
        dots: true,
        infinite: true,
        speed: 1000,
        fade: false,
        slidesToShow: 1,
        autoplay: true,
        autoplaySpeed: 3000,
        pauseOnHover: true,
        adaptiveHeight: true
      });
    })
  </script>
{% endput %}