title = "Post"
url = "/blog/:slug"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blog/category"

[blogRelated]
slug = "{{ :slug }}"
results = 5
direction = "desc"
postPage = "blog/post"

[SeoBlogPost]
post = "post"

[account]
paramCode = "code"
forceSecure = 0
==
<?php
  public function onEnd() {
    use October\Rain\Auth\Models\User as User;
    $this->page->meta_title = $this->post->title;
    $this->post->seo_description = $this->page->meta_description = substr(strip_tags($this->post->content), 0, 260);
    #$this->post->author = User::find($this->post->user_id)->name;
    #dump($this->post->user);
  }
?>
==
{% set post = blogPost.post %}
{% component 'SeoBlogPost' data=post %}
<section id="layout-title">
  <div class="container">
      <h3>{{ 'Blog post'|_ }}</h3>
  </div>
</section>
<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <!-- Blog Post #1 -->
      <div class="blog">
        <img src="{% if post.author.facebook %} https://graph.facebook.com/{{ post.author.facebook }}/picture?type=normal {% else %} {{ 'assets/images/team/anonymous.jpg'|theme }} {% endif %}" alt="{{ post.author.name }}" style="cursor:pointer;" onClick="window.location.href = '{% if post.author.facebook %} https://fb.com/{{ post.author.facebook }} {% endif %}';">
        <div class="blog-desc">
          <h5>{{ post.title|raw }} {% if can('edit_course_template') %} <a href="/backend/rainlab/blog/posts/update/{{ post.slug }}"> {{ 'Edit'|_ }}</a> {% elseif post.author.id == user.id %} <a href="/login/edit/post/{{ post.slug }}"> {{ 'Edit'|_ }}</a>{% endif %} </h5>
          <hr />
          <p class="text-muted">by {{ post.author.name }} on {{ post.published_at|date('M d, Y') }}</p>
          {% if post.featured_images.count %}
          <div class="featured-images text-center">
            {% for image in post.featured_images %}
            <p>
              <img
                data-src="{{ image.filename }}"
                src="{{ image.path }}"
                alt="{{ image.description }}"
                style="max-width: 100%" />
            </p>
            {% endfor %}
          </div>
          {% endif %}
          {{ post.content_html|raw }}
          <p class="info">
              Posted
              {% if post.categories.count %} in
                  {% for category in post.categories %}
                      <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                  {% endfor %}
              {% endif %}
          </p>
          <h4>{{ 'Related posts'|_ }}</h4>
          <ul>
              {% for Post in blogRelated.posts %}
                  <a href="{{Post.url}}"><li>{{ Post.title }}</li></a>
              {% endfor %}
          </ul>
        </div>
      </div>
      <!-- Pagination -->
      <ul class="pager pull-right">
        <li class="previous">
          <a href="/blog/{{ post.previousPost.id }}">
          <span class="fui-arrow-left"></span>
          Previous
          </a>
        </li>
        <li class="next">
          <a href="/blog/{{ post.nextPost.id }}">
          Next
          <span class="fui-arrow-right"></span>
          </a>
        </li>
      </ul>
      <div class="clearfix"></div>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'homeschoolnetwork'; // required: replace example with your forum shortname
        var disqus_identifier = '{{ post.id }}';
        var disqus_url = '{{ page.id | page }}';
        var disqus_title = '{{ post.title }}';
        /* * * DON\'T EDIT BELOW THIS LINE * * */
        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>

    <div class="col-sm-3">
      {% partial 'blog/sidebar' %}

    </div>
  </div>
</div>
