title = "Tags"
url = "/blog/tags"
layout = "default"
is_hidden = 0

[blogTags]
results = 0
orderBy = 0
direction = "desc"
==
<section id="layout-title">
    <div class="container">
        <h3>{{ 'Tags'|_ }}</h3>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
          {% partial 'ads/top' %}
          {% for tag in blogTags.tags %}
            {{ tag.posts|length }}
            <a href="/blog/tagged/{{ tag.id }}" style="font-size:{% if tag.posts|length > 30 %} {{ 50 }}{% else %}{{ tag.posts|length+16 }}{% endif %}px;">{{ tag.name }} ({{ tag.posts|length }})</a>,
          {% endfor %}
          {% partial 'ads/bottom' %}
        </div>
    </div>
</div>
