title = "Top Posts"
url = "/blog/top-posts"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[topPosts]
period = 5
category = 0
postPerPage = 20
postPage = "blog/post"
slug = "{{ :slug }}"
==
<section id="layout-title">
  <div class="container">
      <h3>Top Posts</h3>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-9">
      {% set mostVisitedPosts = topPosts.mostVisitedPosts %}
      <div class="popular-post">
    		{% for post in mostVisitedPosts %}
      		<div class="post-content">
      			<img src="{% if post.author.facebook_id %} https://graph.facebook.com/{{ post.author.facebook_id }}/picture?type=normal {% else %} {{ 'assets/images/team/anonymous.jpg'|theme }} {% endif %}" alt="{{ post.author.name }}" class="avatar-sm" onClick="window.location.href = '/u/{{post.author_id}}';"> <a href="{{post.url}}">{{post.title}}</a>
      		</div>
          <hr>
    		{% endfor %}
      </div>
    </div>
    <div class="col-sm-12 col-md-3">
      {% partial 'blog/sidebar' %}
    </div>
  </div>
</div>
