[scopePosts]
pageNumber = "{{ :page }}"
categoryFilter = "portfolio"
postsPerPage = 200
noPostsMessage = "No posts found"
sortOrder = "published_at asc"
categoryPage = "blog/category"
postPage = "blog/post"
backend = 0
userID = "{{ author }}"
featured = 0
drafted = 0
from = "{{ from }}"
to = "{{ to }}"
evaluationID = "{{ evaluation }}"
ownerID = "{{ owner }}"

[viewBag]
==
{% set postsbytag = scopePosts.postsbytag %}
{% set tags = scopePosts.tags %}

{% for tag in tags['name'] %}
  {% set tag_id = tags['id'][loop.index0] %}
  <h4 style="font-size:25px;"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> <a href="#port-{{ tags['id'][loop.index0] }}">กลุ่มประสบการณ์ <!--{{ loop.index }}--> :  {{ tag }}</a></h4>
  {% set parent = loop.index %}
  {% set continue = true %}
  {% set child = 1 %}
  {% for post in postsbytag if continue %}
    {% if(post.tag_id == tag_id) %}
      <h5 style="font-size:22px;"><a href="#post-{{ post.slug }}"><!--{{ parent }}.{{ child }}-->  <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span> {% set child = child+1 %} {{ post.title }}</a></h5>
      {% set break = false %}
    {% else %}
      {% set break = true %}
    {% endif %}
  {% endfor %}
{% endfor %}