[scopePosts]
pageNumber = "{{ :page }}"
categoryFilter = "portfolio"
postsPerPage = 200
evaluationID = "{{ evaluation }}"
ownerID = "{{ owner }}"
authorID = "{{ author }}"
from = "{{ from }}"
to = "{{ to }}"
isPublished = false
categoryPage = "blog/category"
postPage = "blog/post"
noPostsMessage = "No posts found"
sortOrder = "published_at asc"
==
{% set postsbytag = scopePosts.postsbytag %}
{% set tags = scopePosts.tags %}

{% for tag in tags['name'] %}
  {% set tag_id = tags['id'][loop.index0] %}
  <h3><a href="#port-{{ tags['id'][loop.index0] }}">กลุ่มประสบการณ์ <!--{{ loop.index }}--> :  {{ tag }}</a></h3>
  {% set parent = loop.index %}
  {% set continue = true %}
  {% set child = 1 %}
  {% for post in postsbytag if continue %}
    {% if(post.tag_id == tag_id) %}
      <a href="#post-{{ post.slug }}"><!--{{ parent }}.{{ child }}--> &bull; {% set child = child+1 %} {{ post.title }}</a><br>
      {% set break = false %}
    {% else %}
      {% set break = true %}
    {% endif %}
  {% endfor %}
{% endfor %}
