[scopePosts]
pageNumber = "{{ :page }}"
categoryFilter = "portfolio"
postsPerPage = 200
evaluationID = "{{ evaluation }}"
userID = "{{ user }}"
authorID = "{{ author }}"
from = "{{ from }}"
to = "{{ to }}"
isPublished = false
categoryPage = "blog/category"
postPage = "blog/post"
noPostsMessage = "No posts found"
sortOrder = "published_at asc"
==
{% set tags = scopePosts.tags %}

{% for tag in tags['name'] %}
  <h2><a href="#port-{{ tags['id'][loop.index0] }}">กลุ่มประสบการณ์ :  {{ tag }}</a></h2>
  {% set parent = loop.index %}
  {% set continue = true %}
  {% set child = 1 %}
{% endfor %}
