[viewBag]

[builderDetails]
modelClass = "RainLab\User\Models\User"
identifierValue = "{{ id }}"
modelKeyColumn = "id"
displayColumn = "name"
notFoundMessage = "Record not found"
==
{% set record = builderDetails.record %}
<img src="
    {% if record.avatar.path %} 
      {{ record.avatar.path }}
    {% elseif facebookID|length <= 17 and facebookID != 0 %}
      https://graph.facebook.com/{{ facebookID }}/picture?type=normal
    {% else %}
      {{ 'assets/images/anonymous.jpg'|theme }} 
    {% endif %}" title="{{ record.name }}" class="{{ style }}" onClick="{% if redirect %} location.href='/u/{{id}}'; {% endif %}">